=render :partial => "layouts/errors", :locals => { :target => @period_price }
= form_for(@period_price) do |f|
  .fform
    .fformbox
      .fformbox_bt
        %p 请填写时段信息
      .fformbox_nr
        =render :partial => "layouts/errors", :locals => {:target => @period_price}
        %ul
          %li
            .w1 时段名称：
            .w2
              = f.text_field :name
            .w1 时段类型：
            .w2
              = f.select :period_type, options_for_select(CommonResource.options_by_identifier("period_type").collect{|a| [a.detail_name, a.id]}, @period_price.period_type)
        %ul
          %li
            .w1 开始时间：
            .w2
              = f.select :start_time, options_for_select((1..24).to_a.collect{|t| ["#{t}:00", t]}, @period_price.start_time)
            .w1 结束时间：
            .w2
              = f.select :end_time, options_for_select((1..24).to_a.collect{|t| ["#{t}:00", t]}, @period_price.end_time)
          %li
            .w1 时段价格：
            .w2
              = f.text_field :price
            .w1 创建时间：
            .w2
              = @period_price.new_record? ? DateTime.now.to_s(:db) : @period_price.created_at.to_s(:db)
        %ul{:style => "height:80px;"}
          %li
            .w1 备注：
            .ww2
              %textarea{:cols => "45", :name => "period_price[description]", :rows => "4"}= @period_price.description
    .h10
    .input_bd
      = f.submit "提交", :class => "submit1 hand"
      %button.submit2.hand{:onclick => "window.location.href='#{period_prices_path}'", :type => "button"} 查看
    .clear

