= form_header(:title => "时段信息", :link => period_prices_path)
= render :partial => "layouts/errors", :locals => { :target => @period_price }
= form_for(@period_price, :html => { :class => "form-horizontal well" } ) do |f|
  - control_helper("name", "时段") do
    = f.text_field :name

  - control_helper("period_type", "时段类型") do
    = f.select :period_type, options_for_select(CommonResource.options_by_identifier("period_type").collect{|a| [a.detail_name, a.id]}, @period_price.period_type)


  - control_helper("start_time", "开始时间") do
    = f.select :start_time, options_for_select((1..24).to_a.collect{|t| ["#{t}:00", t]}, @period_price.start_time)

  - control_helper("end_time", "结束时间") do
    = f.select :end_time, options_for_select((1..24).to_a.collect{|t| ["#{t}:00", t]}, @period_price.end_time)

  - control_helper("price", "时段价格") do
    = f.text_field :price
  
  - control_helper("description", "说明") do
    = f.text_area :description


  .form-actions
    = f.submit "提交", :class => "btn btn-success"
    = link_to "返回", period_prices_path, :class => "btn btn-danger"

