<div id="rule4mb" >
  <fieldset class="table" >
    <legend>时段折扣</legend>
    <ul class="title_ul">
      <li style="width:20%;">时段名称</li>
      <li>时间段</li>
      <li>标准收费</li>
      <%if flag=='card'%>
        <li>折扣收费</li>
      <%end%>
      <li>说明</li>
    </ul>
    <%for period_price in period_prices%>
      <% available_period = (flag=="card"?(model.generate_card_period_price(period_price)):(model.generate_court_period_price(period_price)))%>
      <%if !available_period.nil? %>
        <ul>
          <li style="width:20%;"><%=period_price.name%></li>
          <li><%= period_price.start_time %>:00-<%= period_price.end_time %>:00</li>
          <li><%=period_price.price%></li>
          <%if flag=='card'%>
            <li><%=available_period.card_price%></li>
          <%end%>
          <li><%=period_price.description%></li>
        </ul>
      <%end%>
    <%end%>
  </fieldset>
</div>
