=form_header(:title => "时段价格信息", :link => new_period_price_path)

.form-horizontal.well
  - show_helper(:name, "时段", :left) do
    = @period_price.name

  - show_helper(:period_type_in_chinese, "时段类型", :right) do
    = @period_price.period_type_in_chinese


  - show_helper(:start_time, "开始时间",:left) do
    = @period_price.start_time

  - show_helper(:end_time, "结束时间",:right) do
    = @period_price.end_time


  - show_helper(:price, "收费标准",:left) do
    = @period_price.price

  - show_helper(:description, "描述", :left) do
    = @period_price.description
  .clear

