<ul>
  <li>
    <div class="w1"><%= member.is_member? ? '会员名称' : '授权人'%>：</div>
    <div class="w2">
      <input type="text" name="member_name" value="<%= member.name %>" order_autocomplete='/book_records/complete_for_members'/>
      <input type="hidden" name="order[member_attributes][member_name]" value="<%= member.name %>" />
      <input type="hidden" name="order[member_attributes][id]" value="<%= member.id %>" id="member_id" />
    </div>
    <div class="w1">会员卡号：</div>
    <div class="w2">
      <select name="order[member_card_attributes][id]" id="member_card_nubers_selec">
        <%for member_card in member_cards%>
          <option value="<%= member_card.card_serial_num %>"
                  <% if current_card && member_card.id == current_card.id %>selected<%end%>>
                    <%= member_card.card_serial_num %>
          </option>
        <%end%>
      </select>
    </div>
  </li>
</ul>
<% unless member.is_member? -%>
  <ul>
    <% grantee = member.grantee  %>
    <li>
      <div class="w1">会员名称：</div>
      <div class="w2">
        <%= grantee.name%>
      </div>
      <div class="w1">联系电话：</div>
      <div class="w2">
        <%= grantee.mobile%>
      </div>
    </li>
  </ul>
<% end -%>
<%if current_card %>
  <ul>
    <li>
      <div class="w1">卡类型：</div>
      <div class="w2">
        <%= current_card.card.card_type_desc %>
      </div>
      <div class="w1">卡内余额(次)：</div>
      <div class="w2">
        <%= current_card.left_fee_value %>
      </div>
    </li>
  </ul>
  <ul>
    <li>
      <div class="w1">卡状态：</div>
      <div class="w2">
        <%= current_card.status_desc %>
      </div>
      <div class="w1">联系电话：</div>
      <div class="w2">
        <input type="text" name="telephone"  value="<%= member.mobile %>" />
        <input type="hidden" name="card_id" value="<%= current_card.id %>" />
      </div>
    </li>
  </ul>
<%else%>
  <ul>
    <li>
      <div class="w1">提示信息：</div>
      <div class="w2">
        <input type="hidden" name="card_id" value=""/>
        此会员没有会员卡
      </div>
    </li>
  </ul>
<%end%>
<script type="text/javascript">
  $(document).ready(function(){
    orderAutocomplete();
    $('#member_card_nubers_selec').change(function(){
      url = "/book_records/complete_member_infos?id=" + $(this).val();
      $.get(url,function(returned_data)
      {
        $('#rel_member').html(returned_data);
      });
    });
  });
</script>