<div class="setlist clearfix">
  <div class="color clearfix"><span class="color01">红色-已预定</span><span class="color02">浅灰色-已过期</span><span class="color03">紫色-开打中</span><span class="color04">绿色-已结算</span><span class="color05">褐色-代卖中</span>
  </div>
  <h1 class="pagemenu">
    <input type="button" value="<<前一天" onclick='location.href="/book_records?date=<%=@predate%>"'/>
    <input type="button" value="今天" onclick="location.href='/book_records'"/>
    <input type="button" value="后一天>>" onclick='location.href="/book_records?date=<%=@nextdate%>"'/>
    <input type="button" value="刷新" />
    <input type="button" value="打印" />
  </h1>
  <%(0...([(@courts.length%6 == 0 ? @courts.length/6  : @courts.length/6+1),1].max )).each do |row|  tcs = @courts[6*row,6]%>
    <ul id="time">
      <li class="tit">时段/场地</li>
      <% for period in @daily_periods %>
        <% period.start_time.upto(period.end_time - 1) do |i|  %>
          <li><%=i%>:00-<%=i+1%>:00</li>
        <%end%>
      <%end%>
    </ul>
    <% for court in tcs %>
      <ul id="date">
        <li class="tit"><%=court.name%></li>
        <%= display_period_per_hour(@daily_periods,court,@date) %>
      </ul>
    <%end%>
  <%end%>
</div>
<script type="text/javascript" charset="utf-8">
	$(function() {
			$(".book-reocrd-draggable").draggable();
			$(".book-reocrd-droppable").droppable({
				drop: function( event, ui ){
				alert($(this).attr('class'))
				alert(ui.draggable.attr('class'))
				}
			});
			$(".book-reocrd-draggablesss").mouseover(function(){
			 var li = $(this);
			 li.css('z-index',1000);
			 li.unbind('mouseover');
			 li.animate({ 
			    width: li.width()*2,
			    height: li.height()*2,
			    opacity: 0.4,
			    borderWidth: "5px"
			  }, 1500 );	
			});
		 
	})
</script>