<div class="w96">
  <div class=" r_bt" >
    <div class=" r_bt_l" >
      <div class=" r_bt_l_a" ></div>
      <div class=" r_bt_l_c fb white" >博德维店<%= DateUtil.format_to_chinese_date(@date) %>的场地预定</div>
    </div>
    <div class=" r_bt_r" >
      <button class="submit2 hand"  type='button' onclick='location.href="/book_records?date=<%=@predate%>"'><< 前一天</button>&nbsp;&nbsp;
      <button class="submit2 hand"  type='button' onclick="location.href='/book_records'">今天</button>&nbsp;&nbsp;
      <button class="submit2 hand"  type='button' onclick='location.href="/book_records?date=<%=@nextdate%>"'>后一天>></button>&nbsp;&nbsp;
      <button class="submit2 hand"  type='button' value="true" onclick="location.reload();">刷新</button>&nbsp;&nbsp;
      <a class="submit2 hand" href='/book_records/print?date=<%= @date%>' target="_blank" style="color:black;padding: 3px;">打印</a>
    </div>
  </div>
  <div class="content">
    <%(0...([(@courts.length%6 == 0 ? @courts.length/6  : @courts.length/6+1),1].max )).each do |row|  tcs = @courts[6*row,6]%>
      <ul class="time">
        <li class="tit">时段/场地</li>
        <% for period in @daily_periods %>
          <% period.start_time.upto(period.end_time - 1) do |i|  %>
            <li><%=i%>:00-<%=i+1%>:00</li>
          <%end%>
        <%end%>
      </ul>
      <% tcs.each_with_index do |court,index| %>
        <ul class="<%= index == (tcs.size - 1) ? 'date2' : 'date' %>">
          <li class="tit"><%=court.name%></li>
          <%= display_period_per_hour(@daily_periods,court,@date) %>
        </ul>
      <%end%>
    <%end%>
  </div>
  <div class="h10"></div>
  <div class="color">
    <span class="color01">红色-已预定</span><span class="color02">浅灰色-已过期</span>
    <span class="color03">紫色-开打中</span><span class="color05">褐色-已结算</span>
    <span class="color04">绿色-代卖中</span>
  </div>
  <div class="h10"></div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('.popup-new-window').popupWindow({
      centerScreen: 1,
      windowName: "场地预定",
      width: 850,
      height: 750,
      resizable: true,
      location: 0,
      status: 0,
      menubar: 0
    });

    $('.content li').mousemove(function(even){
      var mouse_y = even.pageY;
      $('.content li').removeClass('book_records_mousehover');
      $('.content li').each(function(i,node){
        var node_top = $(node).offset().top;
        var node_bottom = $(node).offset().top - 30;
        if(node_top > mouse_y && mouse_y > node_bottom) { $(node).addClass('book_records_mousehover')}
        }); 
      });
});
</script>
