= form_header(:title => "节假日", :link => vacations_path)
=render :partial => "layouts/errors", :locals => { :target => @vacation }
= form_for(@vacation, :html => { :class => "form-horizontal well"}) do |f|
  - control_helper("name", "名称") do
    = f.text_field :name

  - control_helper("start_date", "开始时间") do
    = f.text_field :start_date, :value => @vacation.start_date, :class => "select-date"

  - control_helper("end_date", "结束时间") do
    = f.text_field :end_date, :value => @vacation.end_date, :class => "select-date"

  .form-actions
    = f.submit "提交", :class => "btn "
    = link_to "返回", vacations_path, :class => "btn"

