<%= form_for(@vacation) do |f| %>
  <div class="fform">
    <div class="fformbox" >
      <div class="fformbox_bt"><p>填写节假日信息</p></div>
      <%= error_messages_for :vacation %>
      <div class="fformbox_nr">
        <ul>
          <li>
            <div class="w1">假日名称：</div>
            <div class="w2">
              <%= f.text_field :name %>
            </div>
            <div class="w1">假日类型：</div>
            <div class="w2">
              <%= radio_button_tag("vacation[status]", "1", 1 == @vacation.status)%>节假日
              <%= radio_button_tag("vacation[status]", "0", 0 == @vacation.status)%>平时日
            </div>
          </li>
        </ul>
        <ul>
          <li>
            <div class="w1">开始时间：</div>
            <div class="w2">
              <input type="text" name="vacation[start_date]" value="<%=ftime_date(@vacation.start_date)%>" id="start_date"/>
            </div>
            <div class="w1">结束时间：</div>
            <div class="w2">
              <input type="text" name="vacation[end_date]" value="<%=ftime_date(@vacation.end_date)%>" id="end_date"/>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="h10"></div>
    <div class="input_bd">
      <button class="submit1 hand" type="submit">提交</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button onclick="window.location.href='/vacations'" class="submit2 hand" type="button">返回</button>
    </div>
    <div class=" clear"></div>
  </div>
<%end%>
<script type="text/javascript">
  $(function() {
    $("#start_date").new_datepicker({dateFormat: 'yy-mm-dd'});
    $("#end_date").new_datepicker({dateFormat: 'yy-mm-dd'});
  });

  function fsubmit(){
    var form = $("form[0]");
    form.submit();
  }
</script>

