<%= form_for(@vacation) do |f| %>
<div class="item" >
    <%= error_messages_for :vacation%>
    <fieldset class="hidden">
      <legend>属性信息</legend>
      <p>
        <label for="name"><a class="blank_element_20"></a><em>*</em>节假日名称：</label>
        <input type="text" name="vacation[name]" value="<%=@vacation.name%>" onblur="return;" id="name" class="inputtext" />
      </p>
      <p>
        <label for="start_date"><em>*</em>节假日开始时间：</label>
        <input type="text" name="vacation[start_date]" value="<%=ftime_date(@vacation.start_date)%>" onblur="return;" id="start_date" class="inputtext" />
        <a class="blank_element_68"></a>
        <label for="end_date"><em>*</em>节假日结束时间：</label>
        <input type="text" name="vacation[end_date]" value="<%=ftime_date(@vacation.end_date)%>" onblur="return;" id="end_date" class="inputtext" />
      </p>
      <p>
        <label for="status"><em>*</em></label>
        <%= radio_button_tag("vacation[status]", "1", 1 == @vacation.status)%>节假日
        <%= radio_button_tag("vacation[status]", "0", 0 == @vacation.status)%>平时日
      </p>
    </fieldset>
</div>
<div class="btn t_center">
    <a href="javascript:void(0);" onclick="fsubmit();return false;" >提交 </a> |
<%= link_to '返回', vacations_path %>
</div>
<% end %>
<script type="text/javascript">
    $(function() {      
        $("#start_date").datepicker({dateFormat: 'yy-mm-dd'});
        $("#end_date").datepicker({dateFormat: 'yy-mm-dd'});
    });

    function fsubmit(){
      var form = $("form[0]");
      form.submit();
    }
</script>

