= render :partial => "layouts/errors", :locals => {:target => @user}
= form_header(:title => "新用户", :link => users_path)
= form_for @user, :html => { :class => "form-horizontal" } do |f|
  - control_helper("login", "用户名") do
    = f.text_field :login

  - control_helper("user_name", "昵称") do
    = f.text_field :user_name


  - control_helper("password", "密码") do
    = f.password_field :password


  - control_helper("password_confirmation", "密码确认") do
    = f.password_field :password_confirmation


  - control_helper("password_confirmation", "所属部门") do
    - @departments.each do |d|
      = check_box_tag "dep[]",d.id.to_s, @user.departments.presence && @user.departments.include?(d)
      = d.name

  .form-actions
    = f.submit "提交", :class => "btn"
