<%= form_for @user do |f| %>
  <%= error_messages_for :user %>
  <div class="fformbox_nr">
    <ul>
      <li>
      <div class="w1"> 用户名：</div>
      <div class="w2">
        <input type="text" name="user[login]" maxlength="24" value="<%= @user.login %>" onblur="return;" id="name" class="inputtext" />
      </div>
      </li>
      <li>
      <div class='w1'> 昵&nbsp;&nbsp;&nbsp;称：</div>
      <div class='w2'>
        <input type="text" name="user[user_name]" value="<%= @user.user_name %>" />
      </div>
      </li>
    </ul>

    <ul>
      <li>
      <div class='w1'>  密&nbsp;&nbsp;&nbsp;码：</div>
      <div class='w2'>
        <input type="text" name="user[password]" maxlength="20" value="<%= @user.password_salt %>" onblur="return;" id="password" class="inputtext" />
      </div>
      </li>
      <li>
      <div class='w1'> 密码确认：</div>
      <div class='w2'>
        <input type="text" name="user[password_confirmation]" maxlength="20" value="<%= @user.password_confirmation %>" onblur="return;" id="password_confirmation" class="inputtext" />
      </div>
      </li>
    </ul>
    <ul>
      <li>
      <div class='w1'> 所属部门：</div>
      <div class='w2'>
        <select name="department_id" id="" class="select">
          <%= generate_department_options @user%>
        </select>
      </div>
      </li>
    </ul>
  <% end %>

  <script type="text/javascript">
    function fsubmit(){
      var form = $("form[0]");
      form.submit();
    }
  </script>



