<% if flash[:notice]%><div id='errorExplanation'><h2>错啦</h2><p><%= flash[:notice]%></p></div><%end%>
<%= form_tag change_pass_users_path do |f|%>
<div class='fformbox_nr'>
  <ul>
    <li>
    <div class="w1">旧密码：</div>
    <div class='w2'><%= password_field_tag "password"%></div>
    </li>
  </ul>
  <ul>
      <li >
      <div class="w1">新密码：</div>
      <div  class='w2' style='width:500px;'>
<%= password_field_tag "new_password"%>
      </div>
      </li>
  </ul>
  <ul>
    <li >
    <div class="w1">确认新密码：</div>
    <div  class='w2'><%= password_field_tag "password_confirm"%>
    </div>
    </li>
  </ul>
  <ul>
   <li >
    <div class="w1"></div>
    <div  class='w2'><%= submit_tag "修改吧",:class =>"submit1 hand"%>
    </div>
    </li>
  </ul>

  </div>
<%end%>
