= form_tag change_pass_users_path, :class => "form-horizontal well" do |f|
  - control_helper("password", "旧密码") do
    = password_field_tag "password"


  - control_helper("password", "新密码") do
    = password_field_tag "new_password"


  - control_helper("password", "密码确认") do
    = password_field_tag "password_confirmation"

  = submit_tag "修改吧",:class =>"btn btn-primary"
