.w96
  .r_bt
    .r_bt_l
      .r_bt_l_a
      .r_bt_l_c.fb.white 修改用户
    .r_bt_r
  .fform
    = render :partial => "layouts/errors", :locals => { :target => @user }
    .fformbox
      .fformbox_bt
        %p 请填写用户资料
      = form_for @user do |f|
        .fformbox_nr
          %ul
            %li
              .w1 用户名：
              .w2
                = f.text_field :login
            %li
              .w1 昵&nbsp;&nbsp;&nbsp;称：
              .w2
                = f.text_field :user_name

          %ul
            %li
              .w1 密码：
              .w2
                = f.password_field :password
            %li
              .w1 再次输入密码：
              .w2
                = f.password_field :password_confirmation
          %ul
            %li
              .w1 所属部门：
              %div{:style => "width:500px;"}
                - @departments.each do |d|
                  = check_box_tag "dep[]",d.id.to_s, @user.departments.presence && @user.departments.include?(d)
                  = d.name


          .input_bd
            = f.submit "提交", :class => "submit1 hand"
          .clear
  .h10
