<div class="w96">
  <div class=" r_bt" >
    <div class=" r_bt_l" >
      <div class=" r_bt_l_a" ></div>
      <div class=" r_bt_l_c fb white" >修改用户</div>
    </div>
    <div class=" r_bt_r" ></div>
  </div>
  <div class="fform">
    <div class="fformbox" >
      <div class="fformbox_bt"><p>请填写用户资料</p></div>
<%= form_for @user do |f| %>
  <%= error_messages_for :user %>
  <div class="fformbox_nr">
    <ul>
      <li>
      <div class="w1"> 用户名：</div>
      <div class="w2">
        <input type="text" name="user[login]" maxlength="24" value="<%= @user.login %>" onblur="return;" id="name" class="inputtext" />
      </div>
      </li>
      <li>
      <div class='w1'> 昵&nbsp;&nbsp;&nbsp;称：</div>
      <div class='w2'>
        <input type="text" name="user[user_name]" value="<%= @user.user_name %>" />
      </div>
      </li>
    </ul>

       <ul>
      <li>
      <div class='w1'> 所属部门：</div>
      <div style='width:500px;'>
        <%@departments.each do |d|%>
          <%= check_box_tag "dep[]",d.id.to_s, @user.departments.presence && @user.departments.include?(d) %><%= d.name%>
        <%end%>
      </div>
      </li>
    </ul>



       <ul>
      <li>
      <div class='w1'> 所属分店：</div>
      <div style='width:500px;'>
        <%@catenas.each do |d|%>
          <%= check_box_tag "catenas[]",d.id.to_s, @user.catenas.presence && @user.catenas.include?(d) %><%= d.name%>
        <%end%>
      </div>
      </li>
    </ul>
  <% end %>

  <script type="text/javascript">
    function fsubmit(){
      var form = $("form[0]");
      form.submit();
    }
  </script>


   </div>
    <div class="h10"></div>
    <div class="input_bd">
      <button class="submit1 hand" tabindex="100" name="loginsubmit" type="submit" value="true" onclick="fsubmit();return false;">提交</button>
    </div>
    <div class=" clear"></div>
  </div>
  <div class="h10"></div>
</div>
