<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>



  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>注册 - 用户</title>

  <meta name="keywords" content="注册">
  <meta name="description" content="注册">

    <%= stylesheet_link_tag 'login', 'jquery-ui-1.8.2.custom' %>

    <%= javascript_include_tag  'jquery-1.4.2' %>
    <%= javascript_include_tag :all %>
</head>

<body>

<a name="top"></a>

<div id="site_nav_bk">
  
</div>

<div id="site_header" class="site_head_not_index">
	<div id="site_nav">
		<div class="site_logo"><DIV id=texture style="WIDTH: 273px; HEIGHT:33px"><DIV style="FONT-SIZE: 27px; FILTER: Chroma(color=#FCFBFA); FLOAT: left; WIDTH: 273px; HEIGHT:33px;" align=center><FONT color=#FCFBFA><b>博德维网球管理系统</b></FONT></DIV></DIV>
		</div>
	</div>
</div>

<div id="main">
<div class="container">
  <div id="content">

<div id="main_content">
     <div class="site_box float_left site_signup_box">
      <b class="rc-tp" style="background-position: -162px -195px;">
        <b style="background-position: -159px -195px;"></b>
      </b>
      <div class="site_box_in">
          <div class="box_title">
            <div class="float_left"><h1>注册</h1></div>
          </div>
          <div class="box_content">

            <% form_for @user, :url => "/users/create" do |f| %>
            <%= error_messages_for :user%>
            
              <table>
              <tbody><tr>
                      <td class="t1"><label for="login">用户名</label>:</td>
                      <td class="t2">
                        <%= f.text_field :login,:size => 20,:class => "input_text" %>
                              <span class="disabled">(必填)</span></td>
                      <td><div class="input_info">
                          &nbsp;<label class="info">(用户名长度为2-30个字符。)</label>
                        </div>
					  </td>
              </tr>

              <tr>
                      <td class="t1"><label for="email">昵称</label>:</td>
                      <td class="t2"><%= f.text_field :user_name,:size => 20,:class => "input_text" %>
                              <span class="disabled">(必填)</span></td>
                      <td><div class="input_info">&nbsp;<label class="info">(昵称长度为2-30个字符。)</label>
                        </div></td>
              </tr>
             
              <tr>
                      <td class="t1"><label for="password">密码</label>:</td>
                      <td class="t2">
                        <%= f.text_field :password,:size => 20,:class => "input_text" %>
                              <span class="disabled small">(必填)</span></td>
                      <td><div class="input_info">&nbsp;<label class="info">(密码可以是6位以上的字母或数字的组合。)</label>
                        </div></td>
              </tr>

              <tr>
                      <td class="t1"><label for="password_confirmation">再次输入密码</label>:</td>
                      <td class="t2">
                        <%= f.text_field :password_confirmation,:size => 20,:class => "input_text" %><span class="disabled">&nbsp;(必填)</span></td>
                      <td><div class="input_info">&nbsp;<label class="info"></label>
                        </div></td>
              </tr>

              <tr>
                <td class="t1"><label for="phone">选择分店</label>:<br></td>
                <td class="t2"><select name="user[catena_id]" id="" class="select">
                      <%= generate_catena_options%>
                    </select>
                              <span class="disabled">(必填)</span></td>
                <td> <div class="input_info">&nbsp;<label class="info"></label>
			</div></td>
              </tr>

              </tbody></table>

              <br />

              <br />
              <input class="btn" id="submit_signup" name="commit" value="注册" type="submit">
                已有了用户名？请直接<a href="/user_session/new" style="">&nbsp;登录</a>
              <span id="form_err_info" style="color: red; display: none;">表单输入有错误,请检查</span>
              <%end%>
          </div>
      </div>
    </div>

    <script type="text/javascript">
//<![CDATA[
$('#user_login').focus();
//]]>
</script>
</div>
                <div class="clear"></div>
	</div>
</div>
<br style="clear: both;" />
</div>

	<div id="footer"><div class="container000">
	<div class="footer_content">
          
		<div class="clear"></div>
		<div class="foot_logo">

		</div>
		<div class="copyright">

			<p class="icp"></p>
		</div>
		<div class="clear"></div>
	</div>
</div></div>

</body></html>
