
.form-horizontal.well
  = form_header(:title => "用户信息", :link => users_path)
  
  - show_helper(:login, "登录名", :both) do
    = @user.login
  
  - show_helper(:last_login_at, "最后登陆时间", :both) do
    = @user.last_login_at.try(:to_chinese_ymd)
  
  - show_helper(:last_login_ip, "最后登陆IP", :both) do
    = @user.current_login_ip



.well#power_tree
  = raw powers_tree(@user.powers, false)
