<p id="notice"><%= notice %></p>

<p>
  <b>Locker:</b>
  <%= @rent.locker_id %>
</p>

<p>
  <b>Member:</b>
  <%= @rent.member_id %>
</p>

<p>
  <b>Card:</b>
  <%= @rent.card_id %>
</p>

<p>
  <b>Start date:</b>
  <%= @rent.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @rent.end_date %>
</p>

<p>
  <b>Total fee:</b>
  <%= @rent.total_fee %>
</p>

<p>
  <b>Pay way:</b>
  <%= @rent.pay_way %>
</p>

<p>
  <b>Remark:</b>
  <%= @rent.remark %>
</p>


<%= link_to 'Edit', edit_rent_path(@rent) %> |
<%= link_to 'Back', rents_path %>
