= content_for :head_content do
  = stylesheet_link_tag "checktree"

  :css
    #holder{
      margin-left: 20px;
    }
    ul.tree{
      margin-left: 40px;
    }
    ul.tree label{
      margin-left: 5px;
    }

  :javascript
    $(document).ready(function(){
      $("input[type=checkbox]").click(function(){
          if($(this).is(":checked") && $(this).attr('parent_id') !== undefined){
            $("input[type=checkbox][value=" + $(this).attr('parent_id') +"]").attr('checked','checked');
          }
        });
 
     });
#holder
  .r_bt
    .r_bt_l
      .r_bt_l_a
      .r_bt_l_c.fb.white
        部门：　(#{@department.name})

  = form_for  @department, :url => department_power_update_department_path(@department), :html => {:class => "form-profile"} do |f|
    = hidden_field_tag "id",@department.id.to_s
    = raw powers_tree(@department.powers)
    = f.submit "修改了",:class => "btn btn-primary"
