<label align="right">
  <%= link_to '创建新部门', new_department_path %>
  <br />
</label>
<br />
<%if @notice%><p class="notice"><%= @notice %></p><%end%>
<h1>权限列表</h1>

<%= form_for :department, @department, :url => {:action => "department_power_update"}, :html => {:class => "form-profile"} do |f|%>
  <div>
    <fieldset class="table" >
      <legend>可用权限信息</legend>
      <ul class="title_ul">
        <input type="hidden" name="department_id" value="<%=@department.id%>" />
        <li style="text-align:center;width:260px;">权限名称</li><li>设置权限</li>
      </ul>
      <%for power in @powers%>
        <% available_power = @department.has_power?(power)%>
        <ul>
          <li style="text-align:center;width:260px;">
            <span style="width:100px;right:20px;"><%= power.subject%></span>
          </li>
          <li>
            <input type="checkbox" name="department_power_<%= power.id %>" value="<%= power.id %>" <%if available_power %> checked <%end%> class="inputtext" />
          </li>
        </ul>
      <%end%>
    </fieldset>

  </div>
  <div class="btn t_center">
    <a href="javascript:void(0);" onclick="fsubmit();return false;" >提交 </a>|
    <a href="/departments" onclick="javascript:window.history.back();">返回部门列表</a>
  </div>
<%end%>

<script type="text/javascript">
  function fsubmit(){
    var form = $("form[0]");
    form.submit();
  }
</script>