= table_header(:title => "数据备份", :link => "/welcome/backup_db")

%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th 编号
      %th 时间
      %th 文件大小
      %th 存储地址
      %th 操作

  %tbody
    - @backups.each_with_index do |backup,index|
      - backup = Pathname.new(backup)
      %tr
        %td= index + 1
        %td= backup.ctime.strftime("%Y-%m-%d %H:%M")
        %td= number_to_human(backup.size, :units => {:unit => "", :thousand => "KB"})
        %td= backup.basename.expand_path.to_s
        %td= link_to '删除', welcome_delete_backup_path(:name => backup.basename.expand_path.to_s), :confirm => '确定删除？', :method => :delete

