<%form_for court  do |f|%>
  <div class="fform">
    <div class="fformbox" >
      <div class="fformbox_bt"><p>基本属性</p></div>
      <%= error_messages_for :court %>
      <div class="fformbox_nr">
        <ul>
          <li>
            <div class="w1">场地名称：</div>
            <div class="w2">
              <%= f.text_field :name %>
            </div>
          </li>
        </ul>
        <ul>
          <li>
            <div class="w1">开始时间：</div>
            <div class="w2">
              <select name="court[start_time]" id="start_time" class="select" onchange ="check_time();">
                <%= generate_time_options(@court.start_time)  %>
              </select>
            </div>
            <div class="w1">结束时间：</div>
            <div class="w2">
              <select name="court[end_time]" id="end_time" class="select" onchange ="check_time();">
                <%= generate_time_options(@court.end_time)  %>
              </select>
            </div>
          </li>
        </ul>
        <ul style="height:80px;">
          <li>
            <div class="w1" >说明：</div>
            <div class="ww2" >
              <textarea name="court[description]" cols="45" rows="4"><%= court.description %></textarea>
              <div class="clear"></div></div>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
    </div>
    <div class="h10"></div>
    <div class="fformbox" >
      <div class="fformbox_bt"><p>时段价格</p></div>
      <div class=" table2">
        <ul class="bttitle black fb " >
          <li class="w5">序号</li>
          <li class="w20">时段</li>
          <li class="w15">标准收费(/小时)</li>
          <li class="w20">可用</li>
          <li class="w20">说明</li>
        </ul>
        <%@period_prices.each_with_index do |period_price,index|%>
          <% available_period = court.generate_court_period_price(period_price)%>
          <ul class="table_items">
            <li class="w5"><%= index + 1%></li>
            <li class="w20">
              <%=period_price.name%>：<%=period_price.start_time%>:00-<%=period_price.end_time%>:00
            </li>
            <li class="w15"><%=period_price.price%></li>
            <li class="w20">
              <input type="checkbox" name="time_available_<%= period_price.id %>"  value="1" <%if available_period %> checked <%end%>class="inputtext" />
            </li>
            <li class="w20"><%=period_price.description%></li>
          </ul>
        <%end%>
      </div>
    </div>
    <div class="h10"></div>
    <div class="input_bd">
      <button class="submit1 hand" type="submit">提交</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button onclick="window.location.href='/courts'" class="submit2 hand" type="button">返回</button>
    </div>
    <div class=" clear"></div>
  </div>
<%end%>
<script type="text/javascript">
  function fsubmit(){
    if(check_time()){
      var form = $("form[id=new_post]");
      form.submit();
    }
  }

  function check_time(){
    var start_time = $("#start_time")[0].value;
    var end_time = $("#end_time")[0].value;
    if(start_time - end_time > 0){
      alert("开始时间应该小于结束时间！");
      return false;
    }else{
      return true;
    }
  }

</script>
