- form_for @court  do |f|
  .fform
    .fformbox
      =render :partial => "layouts/errors", :locals => {:target => @court}
      .fformbox_bt
        %p 基本属性
      .fformbox_nr
        %ul
          %li
            .w1 场地名称：
            .w2
              = f.text_field :name

            .w1 场地类型：
            .w2
              = f.select :court_type, Setting.court_type_options(@court.court_type)
        %ul
          %li
            .w1 开始时间：
            .w2
              = f.select :start_time, options_for_select((1..24).to_a.collect{|t| ["#{t}:00", t]}, @court.start_time)
            .w1 结束时间：
            .w2
              = f.select :end_time, options_for_select((1..24).to_a.collect{|t| ["#{t}:00", t]}, @court.end_time)
        %ul{:style => "height:80px;"}
          %li
            .w1 说明：
            .ww2
              %textarea{:cols => "45", :name => "court[description]", :rows => "4"}= @court.description
              .clear
        .clear
    .h10
    .fformbox
      .fformbox_bt
        %p 时段价格
      .table2
        %ul.bttitle.black.fb
          %li.w5 序号
          %li.w30 时段
          %li.w15 标准收费(/小时)
          %li.w20 可用
          %li.w20 说明
        - @period_prices.each_with_index do |period_price,index|
          - available_period = @court.generate_court_period_price(period_price)
          %ul.table_items
            %li.w5= index + 1
            %li.w30
              = period_price.name
              ：#{period_price.start_time}:00-#{period_price.end_time}:00
            %li.w15= period_price.price
            %li.w20
              <input type="checkbox" name="time_available_#{period_price.id}"  value="1"
              - if available_period
                checked
              class="inputtext" />
            %li.w20= period_price.description
    .h10
    .input_bd
      = f.submit "提交", :class => "submit1 hand"
      %button.submit1.hand{:onclick => "window.location.href='/courts'", :type => "button_link"} 返回
    .clear
