= form_header(:title => "场地", :link => courts_path)
= render :partial => "layouts/errors", :locals => { :target => @court }
= form_for(@court, :html => { :class => "form-horizontal well" } ) do |f|
  - control_helper("name", "名称") do
    = f.text_field :name

  - control_helper("court_type", "场地类型") do
    = f.select :court_type, Setting.court_type_options(@court.court_type)


  - control_helper("start_time", "开始时间") do
    = f.select :start_time, options_for_select((1..24).to_a.collect{|t| ["#{t}:00", t]}, @court.start_time)


  - control_helper("end_time", "结束时间") do
    = f.select :end_time, options_for_select((1..24).to_a.collect{|t| ["#{t}:00", t]}, @court.end_time)


  - control_helper("description", "说明") do
    = f.text_area :description


  = table_header(:title => "时段折扣价", :link => "")
  
  %table.table.table-striped.table-bordered.table-condensed
    %thead
      %tr
        %th 编号
        %th 时段
        %th 收费标准/小时
        %th 可用
        %th 说明
    %tbody
      - PeriodPrice.all.each_with_index do |pp,index|
        %tr
          %td= index.succ
          %td= pp.name + "#{pp.start_time}:00-#{pp.end_time}:00"
          %td= pp.price
          %td= check_box_tag("time_available[]", "#{pp.id}", @court.period_prices.include?(pp) )
          %td= pp.description
  
  .form-actions
    = f.submit "提交", :class => "btn btn-success"
    = link_to "返回", cards_path, :class => "btn btn-danger"
