# -*- encoding : utf-8 -*-
= form_header(:title => "教练预订信息查询", :link => "")
.soso
  %form#search_form.form-profile{:action => "/courts/coach_status_search", :method => "post"}
    .w95
      教练：
      %label
        %select#good_type.select{:name => "name"}
          = options_for_select(Setting.coach_types)
      \&nbsp;&nbsp;&nbsp;&nbsp;
      %input#search_member.inputsubmit{:name => "search", :tabindex => "10", :type => "submit"}/
      :css
        #adv_search div{width:750px;padding: 5px;margin-left:-30px }
        #adv_search div label{width: 80px;text-align: right;}
              #adv_search.w95
        %div
          %label{:for => "card_id"} 开始日期：
          %input.search_date{:name => "start_date", :onblur => "return;", :type => "text", :value => params[:start_date]}/
          %label{:for => "card_id"} 结束日期：
          %input.search_date{:name => "end_date", :onblur => "return;", :type => "text", :value => params[:end_date]}/
        %div
          %label{:for => "card_id"} 预定会员：
          %input{:autocomplete => "/members/autocomplete_name", :maxlength => "30", :name => "member_name", :type => "text", :value => params[:member_name]}/
          %label{:for => "card_id"} 预定时段：
          = succeed "-" do
            %select#start_hour.select{:name => "start_hour", :onchange => "check_time();"}
              = generate_time_options(params[:start_hour] || 7)
          %select#end_hour.select{:name => "end_hour", :onchange => "check_time();"}
            = generate_time_options(params[:end_hour] || 24)


= form_header(:title => "教练预订列表", :link => "")
%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th 编号
      %th 教练
      %th 会员名称
      %th 日期
      %th 场地
      %th 时段

  %tbody
    - @coach_book_records.each_with_index do |coach_book_record,index|
      %tr
        %td= index + 1
        %td= coach_book_record.coach.name
        %td= coach_book_record.order.member.name
        %td= coach_book_record.start_time.to_chinese_mdh
        %td= coach_book_record.order.court_book_record.court.name
        %td
          = coach_book_record.start_hour
          点 - #{coach_book_record.end_hour}点


