= form_header(:title => "场地信息查询", :link => "")

= form_tag("/courts/court_status_search", :class => "form-horizontal well") do
  - control_helper("name", "场地名称") do
    = text_field_tag :name, params[:name]


  - control_helper("member_name", "预订会员") do
    = text_field_tag :member_name, params[:member_name], :autocomplete => "/members/autocomplete_name"


  - control_helper("search_date", "预订日期") do
    = text_field_tag :search_date, params[:search_date], :class => "select-date"


  - control_helper("start_hour", "预订时段") do
    = select_tag :start_hour, options_for_select((0..23).to_a), :onchange => "check_time();"
    = select_tag :end_hour, options_for_select((0..23).to_a), :onchange => "check_time();"

  .form-actions
    = submit_tag "搜索", :class => "btn btn-primary"



= table_header(:title => "场地预定列表", :link => "")

%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %td 序号
      %td 场地
      %td 会员姓名
      %td 日期
      %td 时段
      %td 详情

  %tbody
    - @court_book_records.each_with_index do |court_book_record,index|
      %tr
        %td= index + 1
        %td= court_book_record.court.name
        %td= court_book_record.order.member_name
        %td= court_book_record.alloc_date.to_chinese_ymd
        %td
          = court_book_record.start_hour
          \- #{court_book_record.end_hour}
        %td= court_book_record.order.user.login rescue "未知"

%td


=# render :partial => "layouts/page_nav", :locals => {:objs => @court_book_records}

:javascript
  $(".record_detail").colorbox({width:"80%", height:"80%", iframe:false});
  function check_time(){
    var start_time = $("#start_hour")[0].value;
    var end_time = $("#end_hour")[0].value;
    if(start_time - end_time > 0){
      alert("开始时间应该小于结束时间！");
      return false;
    }else{
      return true;
    }
  }
