%tbody
  - cart.line_items.each_with_index do |li,index|
    %tr
      %td= index + 1
      %td= li.product.name
      %td= li.product.price
      %td= li.quantity
      %td
        %select.discount.span1{:name => "discount"}
          = raw discount_options(li.discount)
      %td
        = text_field_tag :real_total_price,li.real_total_price ,:class=>"li_real_total_price span1" 
        = hidden_field_tag "total_price",li.sub_total_price,:class=>"total_price"
        = hidden_field_tag "good_id",li.product_id,:class=> "good_id"
      %td= link_to raw("<i class = 'icon-trash'></i>"), destroy_good_balances_path(:id => li.product_id), :method => :delete                   |


  %tr
    = form_tag "/goods/add_to_cart" do
      = hidden_field_tag :good_id, :id => "good_id"
      %td{:colspan=>7, :style => "text-align: right;"}
        - unless Setting.barcode_scanner_enabled
          = "商品类型: "
          = select_tag  "category", raw(generate_good_type_options_without_all(params[:category])), :class => "span2", :id => "category_select"
          = "商品名称: "
          = select_tag  "name", "", :class => "span2", :id => "name_select"
        - else
          = text_field_tag "barcode", "", :id => "barcode",:autocomplete => "/goods/autocomplete_name"
        = "单价: "
        = text_field_tag :price, "0", :class => "span1", :id => 'price'
        = "数量: "
        = text_field_tag :quantity, "1", :class => "span1"
        = submit_tag "加入购物车", :class => "btn"

  %tr
    %td 合计
    %td{:colspan => 6}
      = cart.total_price
      元
:javascript
  $(document).ready(function(){
    function search(name) {
      $.get("/goods/price", {name: name}, function(response){
        $("#price").val(response.price);
        $("#good_id").val(response.id);
      }) 
    }

    $("#barcode").blur(function(){
      console.log($("#barcode").attr('value'));
    });

    $("#category_select").change(function(){
      $.get("/goods/by_category", {category: $(this).val()}, function(response){
        options = [];
        $.each(response, function(index, item){
          options.push("<option value=" + item.good.name + ">" + item.good.name + "</option>");
        });
        $("#name_select").html(options.join());
        if($("#name_select").val())
          $("#name_select").trigger("change");
      }) 
    });


    $("#category_select").trigger("change");

  });
