=render :partial => "soso", :locals => {:path => balanced_balances_path}
= table_header(:title => "已结算列表", :link => "")
%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th 编号
      %th 预订人姓名
      %th 卡号
      %th 场地号
      %th 日期
      %th 时段
      %th 场地费
      %th 操作

  %tbody
    - @balances.each_with_index do |record,index|
      %tr
        %td= index + 1
        %td= h record.order.member_name
        %td= h record.members_card.try(:card_serial_num)
        %td= h record.order.court_book_record.try(:court).try(:name)
        %td= record.created_at.to_chinese_ymd
        %td
          = record.order.court_book_record.try(:start_hour)
          = record.order.court_book_record.try(:end_hour)
        %td
          = record.balance_real_amount_desc
          (#{record.balance_way_desc})
        %td= link_to raw("<i class = 'icon-search'></i>"),  order_balances_path(record.order), :title => "编辑", :class => "popup-new-window"



=render :partial => "layouts/page_nav", :locals => {:objs => @balances }
