=render :partial => "soso", :locals => {:path => balanced_balances_path}
= table_header(:title => "已结算列表", :link => "")
%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th 编号
      %th 预订人姓名
      %th 卡号
      %th 场地号
      %th 日期
      %th 时段
      %th 场地费
      %th 结算人

  %tbody
    - @balances.each_with_index do |record,index|
      %tr
        %td= index + 1
        %td= h record.order.member_name
        %td= h record.members_card.card_serial_num
        %td= h record.order.court_book_record.court.name
        %td= record.created_at.to_chinese_ymd
        %td
          = record.order.court_book_record.start_hour
          \:00-#{h record.order.court_book_record.end_hour}:00
        %td
          = record.balance_real_amount_desc
          (#{record.balance_way_desc})
        %td= record.order.balance_record.user.login rescue ""
        - if !defined?no_operation
          %td
            - operations = record.can_view? ? [:show]  : []
            - operations << :destroy if record.can_destroy?
            - operations << :edit if record.can_edit?
            = operations_panel(record, operations)



=render :partial => "layouts/page_nav", :locals => {:objs => @balances }
