<%= error_messages_for :balance %>
<%= error_messages_for :order%>

<%= form_for([@order,@balance],:html => {:id => 'balance-form'}) do |f| -%>
  <div class='fformbox_nr'>
    <ul>
      <li>
      <div class="w1">会员：</div>
      <div class='w2'><%= @order.member_name %></div>
      </li>
      <% unless @order.is_member?%>
        <li>
        <div class='w2' style='color:red;'>散客消费，客人需要补交费用<%= @order.extra_fee_for_no_member%>元</div>
        </li>

      <%end%>
    </ul>
    <ul>
      <% if @order.is_member? %>
        <li >
        <div class="w1">会员卡：</div>
        <div  class='w2' style='width:600px;'>
          <%= @current_card.card_serial_num %>  类型:<%= @current_card.card.card_type_desc %>
          余额(次):<%= @current_card.left_fee_value %>
        </div>
        </li>
      <% end %>
    </ul>
    <ul>

      <li >
      <div class="w1">场地：</div>
      <div  class='w2'>
        <%= @book_record.court.name %>&nbsp;&nbsp;(<%= @book_record.record_date.to_s(:db)%>
        <%= @book_record.start_hour %>:00-<%= @book_record.end_hour %>:00)
      </div>
      </li>
    </ul>
    <ul>

      <li >
      <div class="w1">支付方式：</div>
      <div  class='w2' style='width:500px;'>
        <% if @order.is_member? -%>
          <% if @balance.should_use_counter_to_balance? -%>
            <input type="hidden" name="balance[count_amount]" id="br_conter_amount" value="<%= @order.hours  %>" />
            <label class="labelRadio"><%= f.radio_button :balance_way, Balance::Balance_Way_Use_Counter,:class => 'balance_way', :checked => true%>计次</label>
          <%end -%>
          <%if @balance.should_use_card_to_blance? -%>
            <label class="labelRadio"><%= f.radio_button :balance_way, Balance::Balance_Way_Use_Card, :class => 'balance_way' %>记账</label>
          <%end -%>
        <%  end -%>
        <label class="labelRadio"><%= f.radio_button :balance_way, Balance::Balance_Way_Use_Cash,:class => 'balance_way' %>现金</label>
        <label class="labelRadio"><%= f.radio_button :balance_way, Balance::Balance_Way_Use_Post,:class => 'balance_way' %>POS机</label>
        <label class="labelRadio"><%= f.radio_button :balance_way, Balance::Balance_Way_Use_Check ,:class => 'balance_way'%>支票</label>
        <label class="labelRadio"><%= f.radio_button :balance_way, Balance::Balance_Way_Use_Guazhang,:class => 'balance_way' %>挂账</label>
        <label class="labelRadio"><%= f.radio_button :balance_way, Balance::Balance_Way_Use_Bank,:class => 'balance_way' %>银行</label>
      </div>
      </li>
    </ul>
    <ul>

      <li >
      <div class="w1">消费合计：</div>
      <div  class='w2'>
        <span id="amount_fee_str" style='color:red;'>￥<%= @balance.real_amount %>元；<%= @balance.count_amount %>次场地</span>
        <%= "（ 总价已变更　）" if @balance.total_changed? %>
      </div>
      </li>
    </ul>

    <ul>

      <li>
      <div class="w1">结算人：</div>
      <div  class='w2'>
        <%= text_field_tag "user_name","#{params[:user_name] || current_user.login}"%>
      </div>
      </li>
      <li>
      <div class="w1">密码：</div>
      <%= password_field_tag "password",""%>
      <div  class='w2'>
      </div>
      </li>

    </ul>
    <ul>
      <li style='display:block;'>
      <div style='padding-left: 200px;'>
        <%= submit_tag "支付",:type => "button", :class => "submit1", :id => "submit_form" %>
      </div>
      </li>
    </ul>
  </div>
<% end -%>
<%= render :partial => "/balance_items/balance_item", :locals => {:balance_items => @balance.balance_items } %>
</div>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){

      $('#submit_form').click(function(){
        if(confirm("确定支付!")){ $('#balance-form').submit();} 
        else{return false;}
        });

      <% if @order.is_order_use_zige_card? -%>
        $('.balance_way').click(function(){
          var other_amount = $("#balance_goods_realy_amount").val();
          var amount = $('#balance_book_record_realy_amount').val();
          var count_amount = $('#br_conter_amount').val();
          if($('.balance_way:input:checked').val() == 7){
          var amount_info  = count_amount+'次';
          if(other_amount){amount_info = ((other_amount+"元;")+amount_info);}
          $('#book_record_fee').text(count_amount+'次').append(
            $('<input type="hidden" />').val(amount).attr('id','balance_book_record_realy_amount').
            attr('name','balance[book_record_realy_amount]'));
          $('#amount_fee_str').text(amount_info);
          }else{
          $('#book_record_fee').html(
            $('<input type="text" />').val(amount).attr('id','balance_book_record_realy_amount').
            attr('name','balance[book_record_realy_amount]'));
          var amount_fee = parseInt(amount);
          if(other_amount){amount_fee += parseInt(other_amount) }
          $('#amount_fee_str').text(amount_fee+"元;");
          }
          });
    <% end -%>
  });
</script>
