%span.btn.btn-primary=link_to "购买商品", select_for_cart_goods_path, :id => "goods_list", :style => "color:white;"

= form_tag  create_good_buy_balances_path ,:id => "balance_form", :class => "form-horizontal well"  do |f|
  - control_helper("", "会员") do
    = radio_button_tag "","",false,:onclick => "show_div($(this),'member')",:id => "radio_yes"
    = "是"
    = radio_button_tag "","",false,:onclick => "show_div($(this),'sanke')",:id => "radio_no"
    = "否"
    = hidden_field_tag "member","member",:id=> "member_or_not"
  #member
    - control_helper("member_name", "会员姓名") do
      = text_field_tag :member_name, "", :user_autocomplete => "/book_records/complete_for_members", :id => "member_name"
      = hidden_field_tag :member_id, :id => "member_id"

    - control_helper("member_card_id", "会员卡号") do
      %p#cards
        = text_field_tag :member_card, "", :member_card_autocomplete => "/member_cards/autocomplete_card_serial_num", :id => "member_card_name_field"
        = hidden_field_tag :member_card_id, :id => "member_card_hidden_id"

    - control_helper("member_info", "卡主信息") do
      %p#member_info{:style => "color:red;"} 未知
      %p#member_card_info{:style => "color:red"} 未知

  #sanke
    - control_helper("sanke_name", "散客姓名") do
      = text_field_tag :sanke_name

  .form-actions
    = submit_tag "付款",:class => "btn btn-primary"
    = link_to "清空购物车",clear_goods_balances_path, :class => "btn btn-danger"

= table_header(:title => "商品消费列表", :link => "")
%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th 序号
      %th 商品名称
      %th 商品价格
      %th 数量
      %th 折扣
      %th 总额
      %th 操作

  #cart_goods_list
    = render :partial => "cart_goods_list"


:javascript
  function show_div(dom, id){
    $('#sanke').hide();$('#member').hide();
    $('#radio_yes').attr('checked',false);
    $('#radio_no').attr('checked',false);
    dom.attr('checked',true);
    $('#' + id +'').show(); 
    $('#member_or_not').attr('value',id);
  } 
  
  $(document).ready(function(){
      $("#goods_list").colorbox({width:"900", height:"700", iframe:true});
      userAutocomplete();
      goodAutocomplete();
      $('#quantity').blur(function(){
        var quantity = $(this).val();
        if(isNaN(quantity)){
        alert('请输入正确数量');
        $(this).focus();
        return false;
        }
        else{
        $('#sub_total').text(parseInt(quantity) *$('#price').text());
        }
  
        });
      });
  
  $("#balance_form").submit(function(){
      if($('#member_or_not').attr('value') == "member"){
       if($('#member_name').attr('value') == ""){ alert("会员姓名不能为空"); return false; }
       if($('#member_id').attr('value') == ""){ alert("会员卡号不能为空"); return false;}
      }
      else{
       if($('#sanke_name').attr('value') == ""){ alert("散客姓名不能为空"); return false; }
      }
  
      if(!confirm("确认支付？")){ return false;}

      });
  
  function update_discount(pid,price,discount){
    if(isNaN(price) || parseFloat(price) < 0){ alert('价格有问题'); return;}
    $.post("/balances/change_li_real_total_price",{product_id: "" + pid, real_total_price: "" + price,discount:discount},
        function(reply){ $('#cart_goods_list').html(reply); highlight_table();});
  }
  
  $(document).ready(function(){
      member_card_Autocomplete();
      $('select.discount').live('change',function(){
        var good_id = $(this).parent().parent().find('.good_id'); 
        var total_price = $(this).parent().parent().find('.total_price'); 
        var li_real_total_price = $(this).parent().parent().find('.li_real_total_price'); 
        var discount = $(this).find('option:selected'); 
        li_real_total_price.attr('value',parseFloat(discount.val()) * total_price.attr('value'));
        update_discount(good_id.val(),li_real_total_price.val(),discount.val());
        });
      $('input.li_real_total_price').live('blur',function(){ 
        var li_real_total_price = $(this).parent().parent().find('.li_real_total_price'); 
        var good_id = $(this).parent().parent().find('.good_id'); 
        var discount = $(this).parent().parent().find('option:selected'); 
        update_discount(good_id.val(),li_real_total_price.val(),discount.val());
        });

      $("#radio_yes").trigger("click");
      });
  
