-# -*- encoding : utf-8 -*-

!!!
%html{:lang => "zh-CN", "xml:lang" => "zh-CH", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title balance print
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "no-cache", "http-equiv" => "pragma"}/
    %meta{:content => "no-cache", "http-equiv" => "cache-control"}/
    %meta{:content => "-1", "http-equiv" => "expires"}/
    = stylesheet_link_tag "print",:media => "print"
    = stylesheet_link_tag "normal"
  %body
    %table{:border => "2"}
      %caption/
      %h2
        = Setting.site_name
        球馆消费单
      - if @balance.order.court_book_record
        %tr.goods.goods_title
          %td{:colspan => "4"}
            消费时段：#{balance_time_span_in_word(@balance)}
      - if @balance.order.is_member?
        %tr
          %td{:colspan => "2"}
            姓名: #{@balance.order.member.name}
          %td{:colspan => "2"}
            卡号: #{@balance.order.is_member?  ? @balance.order.members_card.card_serial_num : "无卡 "}
        %tr
          %td{:colspan => "4"}
            卡到期时间：#{@balance.order.members_card.expire_date.strftime("%Y-%m-%d")}
      - else
        %tr
          %td{:colspan => "4"}
            散客姓名: #{@balance.order.member.name}
      %tr.goods.goods_title
        %td.left 商品名称
        %td 单价
        %td 数量
        %td.right 小计
      - @balance.order_items.each do |oi|
        - case oi.item
        - when CourtBookRecord
          %tr.goods
            %td.left 场地预定费
            - if @balance.balance_way == "counter"
              %td= 1
              %td= @balance.order.court_book_record.end_hour - @balance.order.court_book_record.start_hour
              %td.right
                = @balance.final_price
                次
            - else
              %td --
              %td 1
              %td.right= @balance.order.court_book_record.price
        - when CoachBookRecord
          %tr.goods
            %td.left
              教练(#{oi.item.coach.name})
            %td
              = oi.item.coach.fee
            %td
              = oi.item.hours
            %td.right= oi.item.hours * oi.item.coach.fee
        - when Good
          - good = oi.item
          %tr.goods
            %td.left
              = good.name
            %td= good.price
            %td= oi.quantity
            %td.right= oi.total_money_price

      %tr.total
        %td{:colspan => "1"}
          %td{:colspan => "1"} 合计:
        %td.amount{:colspan => "2"}
          %span
            = @balance.balance_real_amount_desc
      - if @balance.order.is_member?
        %tr.total_remain
          %td{:colspan => "1"}
            %td  剩余金额:
          %td.amount{:colspan => "2"}
            %span>
              = @balance.order.members_card.left_fee
            元
        %tr.total_remain
          %td{:colspan => "1"}
            %td  剩余次数:
          %td.amount{:colspan => "2"}
            %span>
              = @balance.order.members_card.left_times
            次
      %tr
        %td{:colspan => "4"}
           备注:
          \#{@balance.change_note}
      %tr
        %td{:colspan => "4"}
           结算时间:
          \#{@balance.created_at.to_chinese_mdh}
      %tr
        %td{:colspan => "4"}
           操作员编号:
          \#{@balance.who_balance.try(:login) || "未知"}
      %tr
        %td{:colspan => "4"}
           支付方式:
          = @balance.balance_way_desc
    .noprint
      %form
        %input.submit{:onclick => "window.print()", :style => "margin-top:20px; margin-left:130px;padding:3px 7px;border:1px solid black;", :type => "button", :value => "打印"}/
