= form_header(:title => "会员卡绑定", :link => members_cards_path)
=render :partial => "layouts/errors", :locals => {:target => @members_card}
= form_for(@members_card, :html => { :class => "form-horizontal well" }) do |f|
  - control_helper("member_id", "会员姓名") do
    = text_field_tag :members_name, @members_card.member.try(:name) || "", "member-name-autocomplete" => "/members/autocomplete_name"
    = f.hidden_field :member_id

  - control_helper("card_id", "卡名称") do
    = f.select :card_id, options_for_select(Card.all.collect{|c| [c.name, c.id]}, @members_card.card_id)

  - control_helper("card_serial_num", "会员卡号") do
    = f.text_field :card_serial_num

  - control_helper("expire_date", "卡有效期") do
    = f.text_field :expire_date, :value => @members_card.expire_date.strftime("%Y-%m-%d"), :class => "date-type-input"

  - control_helper("left_fee", "充值金额") do
    = f.text_field :left_fee


  - control_helper("left_times", "充值次数") do
    = f.text_field :left_times

  - control_helper("description", "描述") do
    = f.text_area :description


  .form-actions
    = f.submit "提交", :class => "btn btn-success"
    = link_to "返回", members_cards_path, :class => "btn btn-danger"


= table_header(:title => "会员卡列表", :link => "")


%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th 编号
      %th 名称
      %th 卡类型
      %th 余额/余次
      %th 有效期
      %th 授权人
      %th 操作

  %tbody
    - @members_cards.each_with_index do |e, index|
      %tr
        %td= index + 1
        %td= e.card_serial_num
        %td= e.card_type_in_chinese
        %td= e.left_fee_value
        %td= e.expire_date
        %td= e.granter_names
        %td
          - operations = e.can_view? ? [:show]  : []
          - operations << :destroy if e.can_destroy?
          - operations << :edit if e.can_edit?
          - operations << :switch_state if e.respond_to?:state
          = operations_panel(e, operations)
          = link_to '添加授权人', new_member_path(:members_card_id => e.id), :class => "granter_new"
          = link_to '注销此卡', switch_state_members_card_path(e), :confirm => "确定要进行此操作？", :method => :put




:javascript
  $(document).ready(function(){
    $("#members_card_card_id").change(function(){
      $.get("/cards/" + $("#members_card_card_id").val() + "/default_card_serial_num", function(response){
        $('#members_card_card_serial_num').val(response.card_serial_num);
      })
    })

    $("#members_card_card_id").trigger("change");
  });
