= form_header(:title => "会员卡充值", :link => "")
= form_for @members_card, :html => {:class => "form-horizontal well"} do |f|
  - control_helper("card_type_in_chinese", "所属会员") do
    = @members_card.member.name
            

  - control_helper("card_type_in_chinese", "卡类型") do
    = @members_card.card_type_in_chinese


  - control_helper("left_fee", "卡内金额") do
    = @members_card.left_fee
    = "￥"

  - control_helper("recharge_fee", "充金额") do
    = f.text_field :recharge_fee, :value => "0"

  - control_helper("recharge_expire_date", "有效期") do
    - time = @members_card.expire_date
    = time.blank? ? "未知" : time.strftime("%Y-%m-%d")

  - control_helper("recharge_expire_date", "修改有效期") do
    = f.text_field :recharge_expire_date, :class => "select-date", :value => @members_card.expire_date.strftime("%Y-%m-%d")


  - control_helper("recharge_times", "卡内次数") do
    = @members_card.left_times


  - control_helper("recharge_times", "充值次数") do
    = f.text_field :recharge_times

  - control_helper("login", "充值人") do
    = f.text_field :login, :value => current_user.login

  - control_helper("password", "密码") do
    = f.password_field :password

  .form-actions
    = f.submit "充值", :class => "btn btn-primary"


:javascript
  $(".select-date").new_datepicker();
  
