= form_header(:title => "会员卡充值", :link => "")
= render :partial => "layouts/errors", :locals => { :target => @members_card }  if @members_card
= render :partial => "soso"

#recharge_form_div

:javascript 
  function jump(card_serial_num){
    $("#recharge_form_div").load("#{recharge_form_members_cards_path}?card_serial_num=" + card_serial_num); 
    $("#recharge_form_div select-date").live("click", function(){
        $(".select-date").datepicker({ changeMonth: true, changeYear: true});
      });
  }


- if @members_card
  :javascript
    jump("#{@members_card.card_serial_num}");
