=render :partial => "layouts/errors", :locals => {:target => @order}
.fformbox
  = form_for @order do |f|
    = f.hidden_field :order_date
    .fformbox_bt
      %p 请填写预定信息
    .fformbox_nr
      %ul
        %li
          .w1 预订：
          .w2{:style => "width: 500px;"}
            = @order.court_book_record.alloc_date.timeshort
            = chinese_week_day(Time.parse(@order.court_book_record.alloc_date.to_s).wday)
            = f.fields_for :court_book_record do |cbr|
              = cbr.select :start_hour, options_for_select(@order.court_book_record.court.open_hours_range(@date).to_a.collect{|h| ["#{h}:00", h]}, @order.court_book_record.start_hour)
              = cbr.select :end_hour, options_for_select(@order.court_book_record.court.open_hours_range(@date).to_a.collect{|h| ["#{h}:00", h]}, @order.court_book_record.end_hour)
              = "(周期性预定)" if @order.advanced_order?
              = cbr.select :resource_id, options_for_select(Court.enabled.collect{|c| [c.name, c.id]}, @order.court_book_record.resource_id)
              = cbr.hidden_field :alloc_date
              = cbr.hidden_field :resource_type 


      %ul
        %li
          .w1 是否会员：
          = f.check_box :is_member

      #is_member{:style => "display:#{@order.is_member? ? 'block;' : 'none;'}"}
        %ul
          %li
            .w1 会员姓名：
            .w2
              = text_field_tag :member_name, @order.member.try(:name), :id => "order_member_name"
              = f.hidden_field :member_id
          %li
            .w1 卡号：
            .w2#cards
              = text_field_tag :card_serial_num, @order.members_card.try(:card_serial_num), :id => "order_member_card_serial_num"
              = f.hidden_field :members_card_id


        %ul
          %li
            .w1 卡类型：
            .w2
              #card_type
                = @order.members_card.try(:card_type_in_chinese)
          %li
            .w1 余额（次）：
            .w2
              #remaining
                = @order.members_card.try(:remaining_money_and_amount_in_chinese)

        %ul
          %li
            .w1 卡状态：
            .w2
              #members_card_info
                = @order.members_card.try(:members_card_info)
          %li
            .w1 联系电话：
            .w2
              = f.text_field :telephone, :id => "mobile"

      #is_non_member{:style => "display:#{!@order.is_member? ? 'block;' : 'none;'}"}
        = f.fields_for :non_member do |nm|
          %ul
            %li
              .w1 散客姓名：
              .w2 
                = nm.text_field :name
                = nm.hidden_field :is_member

              .w1 标准收费：
              .w2#non_member_price
                = @order.court_book_record.price

          %ul
            %li
              .w1 手机/座机：
              .w2 
                = nm.text_field :telephone

              .w1 定金：
              .w2 
                = nm.text_field :earnest

      %ul{:style => "height:50px;"}
        %li
          .w1 教练：
          .w2
            = f.text_field :coach_ids

      %ul
        %li
          .w1 操作人：
          .w2
            = text_field_tag :name

        %li
          .w1 密码：
          .w2
            = password_field_tag :password


      %ul
        %li
          .w1 备注：
          .w2
            = f.text_area :memo, :rows => 2, :style => "width:460px;"

      %ul
        %li
          %ul#link_box
            %li
              = f.submit @order.new_record? ? "预订" : "变更", :class => "button_link"
            = display_enable_buttons(@order) if !@order.new_record?


      :javascript
        $(document).ready(function(){
          $("#order_is_member").click(function(){
            if($("#order_is_member").attr("checked")){
              $("#is_member").show();
              $("#is_non_member").hide();
              $("#order_non_member_attributes_is_member").val(1);
            }
            else{
              $("#is_member").hide();
              $("#is_non_member").show();
              $("#order_non_member_attributes_is_member").val(0);
          }
          });


          $('#order_member_card_serial_num').autocomplete({
              source:  '#{autocomplete_card_serial_num_members_cards_path}',
              select:  function(ui,li){
                var item = li.item;
                $('#order_member_name').val(item.member_name);
                $('#order_member_id').val(item.member_id);
                update_detail_info(item.id);
                }			
           });

           function update_detail_info(card_id){
            $.ajax({
              url: "/members_cards/" + card_id,
              dataType: 'json',
              success: function(response){
                $('#members_card_info').text(response.members_card_info);
                $('#card_type').text(response.card_type_in_chinese);
                $('#remaining').text(response.remaining_money_and_amount_in_chinese);
                $('#mobile').val(response.mobile);
              }
            });
            }

           $('#cards select').live('change', function(){
             var card_id = $(this).find("option:selected").val();
             update_detail_info(card_id);
           });

           $('#order_member_name').autocomplete({
             source:  '/members/autocomplete_name',
               select:  function(ui,li){
                 var item = li.item;
                 var reqest_url  = "/members/" + item.id + "/member_cards_list";
                 $('#order_member_id').val(item.id);
                 $.get(reqest_url,function(returned_data)
                 {
                   options = "";
                   $(returned_data).each(function(i,node){
                     options +=("<option value='" + node.members_card.id +
                       "'>" + node.members_card.card_serial_num + "</option>") 
                    });

                    $('#cards').html( "<select name='order[members_card_id]'>" + options + "</select>");
                    $('#cards select').trigger("change");
                 });
               }			
            });

             $("#order_coach_ids").tokenInput("#{search_coaches_path}", {
            });
        });

