<div class=" r_bt" >
  <div class=" r_bt_l" >
    <div class=" r_bt_l_a" ></div>
    <div class=" r_bt_l_c fb white" >消费列表</div>
  </div>
  <div class=" r_bt_r" ></div>
</div>

<div class=" table">
  <ul class="bttitle black fb " >
    <li class='w10'>商品类别</li>
    <li class='w10'>商品名称</li>
    <li class='w10'>商品价格</li>
    <li class='w10'>数量</li>
    <li class='w10'>总额</li>
  </ul>

  <% @order.balance.balance_items.each do |item| %>
    <ul class='member_items table_items'>
      <li class='w10'> <%= item.order_item.category %></li>
      <li class='w10'><%= item.name %></li>
      <li class='w10'> <%=  item.order_item.price %> </li>
      <li class='w10'> <%= item.order_item.quantity %> </li>
      <li class='w10'><%= item.price %></li>
    </ul>
  <% end -%>
  <ul class='amount-info'>
    <li class='w10'>累计</li>
    <li class='w10'></li>
    <li class='w10'></li>
    <li class='w10'></li>
    <li class='w10'><%= order.balance.real_amount %></li>
  </ul>
</fieldset>
