  <div class=" r_bt" >
    <div class=" r_bt_l" >
      <div class=" r_bt_l_a" ></div>
      <div class=" r_bt_l_c fb white" >消费列表</div>
    </div>
    <div class=" r_bt_r" ></div>
  </div>
 
  <div class=" table">
    <ul class="bttitle black fb " >
    <li class='w10'>商品类别</li>
    <li class='w10'>商品名称</li>
    <li class='w10'>商品价格</li>
    <li class='w10'>数量</li>
    <li class='w10'>总额</li>
  </ul>
  <% unless (coach_items = order.coach_items).blank?  -%>
   <% coach_items.each do |coach_item|  -%> 
   <% coach = coach_item.related_entry %>
  <ul class='member_items table_items'>
	<li class='w10'>教练</li>
        <li class='w10'><%= coach.name %></li>
    <li class='w10'>
	  <%=  coach.fee %>
	</li>
    <li class='w10'>
	 <%= coach_item.quantity %>
	</li>
    <li class='w10'><%= coach_item.amount %></li>
  </ul>
  <%end  -%>
 <%end -%> 
  <% for good_item in good_items %>
    <% next if (good = good_item.product).blank? %>
    <ul class='member_items table_items'>
	  <li class='w10'><%= generate_good_type_str(good.good_type) %></li>
      <li class='w10'><%= good.name%></li>
      <li class='w10'><%= good.price %></li>
      <li class='w10'>
	    <%= good_item.quantity %>
	  </li>
      <li class='w10'><%= good_item.amount %></li>
    </ul>
  <% end %>
  <ul class='amount-info'>
    <li class='w10'>累计</li>
    <li class='w10'></li>
    <li class='w10'></li>
    <li class='w10'></li>
    <li class='w10'><%= order.product_amount %></li>
  </ul>
</fieldset>
