.w96
  .r_bt
    .r_bt_l
      .r_bt_l_a
      .r_bt_l_c.fb.white
        = chinese_date(@date)
        的场地预定
    .r_bt_r
      %button.submit2.hand{:onclick => "location.href='/book_records?date=#{@predate}'", :type => "button"}> 前一天
      %button.submit2.hand{:onclick => "location.href='/book_records'", :type => "button"} 今天
      %button.submit2.hand{:onclick => "location.href='/book_records?date=#{@nextdate}'", :type => "button"} 后一天
      %button.submit2.hand{:onclick => "location.reload();", :type => "button", :value => "true"} 刷新
      %a.submit2.hand{:href => "/book_records/print?date=#{@date}", :style => "color:black;padding: 3px;", :target => "_blank"} 打印
  .content
    %table.index_order_table{:cellspacing=> 0}
      - @courts.each_slice(6) do |slice|  
        %tr.court_name
          %td.tit.first 时段/场地
          - slice.each_with_index do |court, index|
            %td
              = court.name

          - (@daily_periods.first.start_time..(@daily_periods.last.end_time-1)).each do |hour_start|
            %tr.period
              %td.hour_span.first
                = "#{hour_start}:00-#{hour_start.next}:00"
              - slice.each do |court|
                = court_status_in_period(@date, hour_start, court)


        %div{:style => "clear:both;"}
  .h10
  .color
    %span.color01 红色-已预定
    %span.color02 浅灰色-已过期
    %span.color03 紫色-开打中
    %span.color05 褐色-已结算
    %span.color04 绿色-代卖中
  .h10

:javascript
  $(document).ready(function(){
    $("table.index_order_table tr").mouseover(function(){
      $(this).addClass("orders_mousehover");
    }).mouseout(function(){
      $(this).removeClass("orders_mousehover");
    });
  
  })
