<p class="notice" style="display: none;"></p>
<h1>会员卡充值</h1>
<div class="item">
  <fieldset class="hidden">
    <form method="post" action="/member_cards/search" class="form-profile" id="search_form">
      <p>
        <label for="name"><em>*</em>会员名称：</label>
        <input type="text" name="member_name" maxlength="24" tabindex="1" value="<%=params[:member_name] %>" class="inputtext" autocomplete="/members/autocomplete_name" />
        <input type="submit" name="search" id="search_member" class="inputsubmit" value="查询"  tabindex="10" /></p>
      <p>
        <%if @member_cards!= nil && @member_cards.size > 0 %>
          <label for="card_id">选择充值的会员卡号：</label>
          <%i=0%>
          <% for member_card in @member_cards %>
            <% if(i%6==0)%></p><p><%end%>
            <% if member_card.card_serial_num != "" %>
              <%= radio_button_tag("card_serial_num", member_card.card_serial_num, (member_card.card_serial_num == @serial_num)? true : false)%><%=member_card.card_serial_num%>
              <%i=i+1 %>
            <%end%>
          <%end%>
        <%end%>
      </p>

    </form>
    <% if !@member_card.nil? %>
      <p><label for="name">所属会员：<%=  @member_card.nil? ? "" : @member_card.member.name%> </label>
        <a class="blank_element_20"></a><label for="name">卡类型：<%= display_card_type_desc(@member_card.nil? ? nil : @member_card.card) %></label>
        <a class="blank_element_20"></a><label for="name">卡内金额（￥）：<%= @member_card.left_fee%> </label>
        <a class="blank_element_20"></a><label for="name">卡内次数（次）：<%= @member_card.left_times%> </label>
        <a class="blank_element_20"></a><label for="name">有效期：<%= DateUtil.timeshort(@member_card.expire_date.nil? ? nil : @member_card.expire_date) %></label>
      </p>
      <p>
        <% if @member_card.should_recharge_amount? -%>
        <label for="name">充值金额：</label>
        <input name="fee" id="fee" value="" onchange="javascript:checkNum(this.value)" class="inputtext"/>
        <% end -%>
        <% if @member_card.should_charge_counter? -%>
          <label for="name">充值次数：</label>
          <input name="times" id="times" value="" onchange="javascript:checkNum(this.value)" class="inputtext"/>
        <% end -%>
        <label for="name">修改有效期到：</label>
        <input name="expire_date" id="expire_date" value="" class="inputtext"/>
      </p>
      <p align="center">
        <a href="javascript:void(0);" onclick="recharge_submit(<%=@member_card.id%>, 1);return false;">确认操作</a>
      </p>
    <%end%>
  </fieldset>
</div>

<script type="text/javascript">
  $(".member_card_detail").colorbox({width:"80%", height:"80%", iframe:false});
  $(".member_card_recharge").colorbox({width:"50%", height:"40%", iframe:false});

  $(function() {
    $("#expire_date").datepicker({dateFormat: 'yy-mm-dd'});
  });
  function recharge_submit(card_id, type){    
    var expire_date = $("#expire_date")[0].value;
    if(type == '1'){
      if(!confirm("确定要做此操作？")) return;
    }
    var fee = $("#fee")[0].value;
    var times = $("#times")[0].value;
    if(""!=fee && !isNumTemp(fee)){
      alert("充值数必须为有效数字！");
      return;
    }
    if(""!=times && !isNumTemp(times)){
      alert("充值数必须为有效数字！");
      return;
    }
    $.getJSON("/members/member_card_recharge",
    {'type':'json', 'fee':fee, 'times':times, 'member_card_id':card_id, 'type':type, 'expire_date':expire_date},
    function(data){
      $(".notice").show();
      $(".notice").attr("class", "notice");
      $(".notice").attr("innerHTML", data);
      var form = $("form[0]");
      form.attr("action", "/member_cards/search?p=num");
      form.submit();
    });
  }

  $(":radio").click(function(){
    var form = $("form[0]");
    form.attr("action", "/member_cards/search?p=num");
    form.submit();
  });
  function checkNum(k){        
    if(""!=k && !isNumTemp(k)){
      alert("充值数必须为有效数字！");
      $(this)[0].focus();
      return false;
    }
  }
  function isNumTemp(obj){
    return /^[+-]?\d+$/.test(obj);
  }
</script>