<h1>会员卡信息 </h1>
<div class="listcontent_w clearfix cleft">
  <ul class="clearfix">
    <fieldset class="hidden">
      <legend>属性信息</legend>
      <li class="cleft">
        <div class="w1">会员名称：</div>
        <div class="w2">
          <%= @member_card.member.name %><%if @member_card.member.name.blank?%><a class="blank_element"></a><%end%>
        </div>
        <div class="w1">会员卡号：</div>
        <div class="w2">
          <%= @member_card.card_serial_num %>
        </div>
      </li>

      <li class ="cleft">
        <div class="w1">注册日期：</div>
        <div class="w2">
          <%= DateUtil::timeshort(@member_card.created_at) %>
        </div>
        <div class="w1">授权人：</div>
        <div class="w2">
          <%= @member_card.member_card_granters %>
        </div>
      </li>

      <li class ="cleft">
        <div class="w1">卡余额/卡余次：</div>
        <div class="w2">
          <%= @member_card.left_fee_value %>
        </div>
        <div class="w1">会员卡状态：</div>
        <div class="w2">
          <%= @member_card.status_desc %>
        </div>
      </li>

    </fieldset>
  </ul>
</div>