= form_header(:title => "教练信息", :link => coaches_path)
=render :partial => "layouts/errors", :locals => {:target => @coach}
= form_for(@coach, :html => { :class => "form-horizontal well"}) do |f|
  - control_helper("name", "名称") do
    = f.text_field :name


  - control_helper("gender", "性别") do
    = f.radio_button(:gender,CommonResource::Gender_Man)
    = "男"
    = f.radio_button(:gender,CommonResource::Gender_Woman)
    = "女"


  - control_helper("coach_type", "类型") do
    = f.select :coach_type, Setting.coach_types

  - control_helper("telephone", "电话") do
    = f.text_field :telephone

  - control_helper("email", "email") do
    = f.text_field :email

  - control_helper("cert_type", "证件类型") do
    = f.select :cert_type, Setting.cert_type_options(@coach.cert_type), :id => "cert_type"


  - control_helper("cert_num", "证件号码") do
    = f.text_field :cert_num


  - control_helper("fee", "费用") do
    = f.text_field :fee


  - control_helper("description", "描述") do
    = f.text_area :description

  .form-actions
    = f.submit "提交", :class => "btn btn-success"
    = link_to "返回", coaches_path, :class => "btn btn-danger"
