<%= form_for(@coach) do |f| %>
  <div class="fform">
    <div class="fformbox" >
      <div class="fformbox_bt"><p>填写教练信息</p></div>
      <%= error_messages_for :coach %>
      <div class="fformbox_nr">
        <ul>
          <li>
            <div class="w1">名称：</div>
            <div class="w2">
              <%= f.text_field :name %>
            </div>
            <div class="w1">性别：</div>
            <div class="w2">
              <%= f.radio_button(:gender,CommonResource::Gender_Man)%>男
              <%= f.radio_button(:gender,CommonResource::Gender_Woman)%>女
            </div>
          </li>
        </ul>
        <ul>
          <li>
            <div class="w1">头像：</div>
            <div class="w2">
              <%= f.text_field :portrait %>
            </div>
            <div class="w1">类型：</div>
            <div class="w2">
              <select name="coach[coach_type]" id="coach_type" class="select">
                <%= generate_coach_type_options(@coach)  %>
              </select>
            </div>
          </li>
        </ul>
        <ul>
          <li>
            <div class="w1">电话：</div>
            <div class="w2">
              <%= f.text_field :telephone %>
            </div>
            <div class="w1">email：</div>
            <div class="w2">
              <%= f.text_field :email %>
            </div>
          </li>
        </ul>
        <ul>
          <li>
            <div class="w1">证件类型：</div>
            <div class="w2">
              <select name="coach[cert_type]" id="cert_type" class="select">
                <%= generate_cert_type_options(@coach)  %>
              </select>
            </div>
            <div class="w1">证件号码：</div>
            <div class="w2">
              <%= f.text_field :cert_num %>
            </div>
          </li>
        </ul>
        <ul>
          <li>
            <div class="w1">费用：</div>
            <div class="w2">
              <%= f.text_field :fee %>
            </div>
          </li>
        </ul>
        <ul style="height:80px;">
          <li>
            <div class="w1">描述：</div>
            <div class="ww2">
              <textarea name="coach[description]" cols="45" rows="4"><%= @coach.description  %></textarea>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="h10"></div>
    <div class="input_bd">
      <button class="submit1 hand" type="submit">提交</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button onclick="window.location.href='/coaches'" class="submit2 hand" type="button">返回</button>
    </div>
    <div class=" clear"></div>
  </div>
<%end%>
<script type="text/javascript">
  function fsubmit(){
    var form = $("form[0]");
    form.submit();
  }
</script>

