<%if notice%><p class="notice"><%= notice %></p><%end%>
<label align="right">
  <%= link_to '添加新教练', new_coach_path %>
 <br />
</label>
<br />
<h1>教练列表</h1>

<fieldset class="table">
  <ul class="title_ul">
    <li>编号</li>
    <li style="width:10%;">教练名称</li>
    <li style="width:10%;">性别</li>
    <li style="width:10%;">教练类型</li>
    <li style="width:10%;">联系电话</li>
    <li style="width:8%;">费用（￥/小时）</li>
    <li style="width:15%;">状态</li>
    <li style="width:20%;">操作</li>
  </ul>
<% i = 0 %>
<% @coaches.each do |coach| %>
  <% i += 1 %>
   <ul>
     <li><%= i %></li>
      <li style="width:10%;"><%= coach.name%></li>
      <li style="width:10%;"><%= gender_desc(coach.gender) %></li>
      <li style="width:10%;"><%= generate_coach_type_str(coach.coach_type) %></li>
      <li style="width:10%;"><%= coach.telephone %></li>
      <li style="width:8%;"><%= coach.fee %></li>
      <li style="width:15%;"><%= coach.coach_status_str %></li>
      <li style="width:20%;"><%= link_to '查看', coach %> | <%= link_to '修改', edit_coach_path(coach) %>
        | <%= link_to '删除', coach, :confirm => '确定删除？', :method => :delete %>
      </li>
      </ul>
<% end %>
</fieldset>