<div class="w96">
  <div class=" r_bt">
    <div class=" r_bt_l">
      <div class=" r_bt_l_a"></div>
      <div class=" r_bt_l_c fb white">教练信息</div>
    </div>
    <div class=" r_bt_r">
      <button onclick="window.location.href='/coaches/new'" class="submit2 hand" type="button">添加新教练</button>
    </div>
  </div>
  <div class="info">
    <div class="infobox">
      <div class="infobox_bt"><p>教练<%= @coach.name %> 的基本信息</p></div>
      <div class="infobox_nr">
        <ul>
          <li>
            <div class="w1" style="height: 120px;">教练头像：</div>
            <div class="" style="height: 120px;">
              <img src="<%#= url_for_file_column @coach, 'portrait', "medium"%>" />
            </div>
          </li>
        </ul>
        <ul>
          <li>
            <div class="w1">教练名称：</div>
            <div class="w2">
              <%= @coach.name %><%if @coach.name.blank?%><a class="blank_element"></a><%end%>
            </div>
            <div class="w1">教练性别：</div>
            <div class="w2">
              <%= gender_desc(@coach.gender) %>
            </div>
          </li>
        </ul>
        <ul>
          <li>
            <div class="w1">联系电话：</div>
            <div class="w2">
              <%= @coach.telephone %><%if @coach.telephone.blank?%><a class="blank_element"></a><%end%>
            </div>
            <div class="w1">email：</div>
            <div class="w2">
              <%= @coach.email %>
            </div>
          </li>
        </ul>
        <ul>
          <li>
            <div class="w1">教练类型：</div>
            <div class="w2">
              <%= generate_coach_type_str(@coach.coach_type) %><%if generate_coach_type_str(@coach.coach_type).blank?%><a class="blank_element"></a><%end%>
            </div>
            <div class="w1">教练费用：</div>
            <div class="w2">
              <%= @coach.fee %>
            </div>
          </li>
        </ul>
        <ul>
          <li>
            <div class="w1">教练简介：</div>
            <div class="w2">
              <%= @coach.description %><%if @coach.description.blank?%><a class="blank_element"></a><%end%>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="h10"></div>
    <div class="input_bd">
      <button class="submit1 hand" type="button" onclick="window.location.href='<%= edit_coach_path(@coach) %>'">修改</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="submit3 hand" type="button" onclick="window.location.href='<%= coaches_path %>'">返回</button></div>
    <div class=" clear"></div>
  </div>
  <div class="h10"></div>
</div>
