= form_for @locker, :html => {:class => "form-horizontal well order_form"} do |f|
  - control_helper("locker_type", "储物柜类型") do
    = f.select :locker_type, Setting.locker_type_options(@locker.locker_type)

  - control_helper("num", "编号") do
    = f.text_field :num
  - control_helper("remark", "备注") do
    = f.text_field :remark

  .form-actions
    = f.submit @locker.new_record? ? "创建" : "更新", :class => "btn"
