<div class="w96">
  <div class=" r_bt" >
    <div class=" r_bt_l" >
      <div class=" r_bt_l_a" ></div>
      <div class=" r_bt_l_c fb white" >储物柜查询</div>
    </div>
    <div class=" r_bt_r" >
      <button onclick="window.location.href='/locker/new'" class="submit2 hand" type="button">添加储物柜</button>
    </div>
  </div>
  <div class="soso">
    <form method="post" action="/locker/index?p=<%=@p%>" class="form-profile" id="search_form">
      <div class="w95">
        按类别：
        <label>
          <%= select_tag "locker_type",raw(generate_locker_type_options(@locker_type)),:id => "locker_type",:class=> "select"  %>
        </label>
        &nbsp;&nbsp;&nbsp;&nbsp;
        按编号：
        <label>
          <input type="text"class="inputtext" autocomplete="/lockers/autocomplete_num" id="num" num="num" value="<%= params[:num] %>"/>
        </label>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" num="search" id="search_member" class="inputsubmit" value="查询"  tabindex="10" />
      </div>
    </form>
  </div>

  <div class="h10"></div>
  <div class=" r_bt" >
    <div class=" r_bt_l" >
      <div class=" r_bt_l_a" ></div>
      <div class=" r_bt_l_c fb white" >储物柜列表</div>
    </div>
    <div class=" r_bt_r" ></div>
  </div>
  <div class=" table">
    <ul class="bttitle black fb " >

      <li class='w5'>编号</li>
      <li class='w10'>类型</li>
      <li class='w10'>储物柜编号</li>
      <li class='w10'>租用状态</li>
      <li class='w10'>会员姓名</li>
      <li class='w5'>登记日期</li>
      <li class='w5'>起租日 </li>
      <li class='w5'>到租日 </li>
      <li class='w5'>租用费</li>
      <li class='w10'>支付方式 </li>
      <li class='w10'>备注</li>
      <li class='w10'>操作</li>
    </ul>



    <% @lockers.each_with_index do |locker,index| %>
      <ul class='table_items'>
        <li class='w5'> <%= index.succ %></li>
        <li class='w10'> <%= locker_type_in_words(locker.locker_type) %></li>
        <li class='w10'><%= locker.num%></li>
        <li class='w10'><%= locker_state_in_words(locker.state) %></li>
        <li class='w10'><%#= locker.member.name if locker.rented? %></li>
        <li class='w5'><%#= DateUtils::short_date(locker.rent.rent_day) if locker.rented? %></li>
        <li class='w5'><%#= DateUtils::short_date(locker.rent.start_date) if locker.rented? %></li>
        <li class='w5'><%#= DateUtils::short_date(locker.rent.end_date) if locker.rented? %></li>
        <li class='w5'><%#= number_to_money(locker.rent.total_fee) if locker.rented? %></li>
        <li class='w10'><%#= pay_way_in_words(locker.rent.pay_way) if locker.rented? %></li>
        <li class='w10'><%= locker.remark %></li>
        <li class='w10'><%= locker.remark %></li>
      </ul>
    <%end%>
  </div>
