<%= form_for(@good,:html  => {:id => 'member_form'}) do |f| %>
  <div class="fform">
    <div class="fformbox" >
      <div class="fformbox_bt"><p>填写商品信息</p></div>
      <%= error_messages_for :good %>
      <div class="fformbox_nr">
        <ul>
          <li>
          <div class="w1">商品名称：</div>
          <div class="w2">
            <%= f.text_field :name %>
          </div>
          <div class="w1">商品类别：</div>
          <div class="w2">
            <%=f.select :good_type, option_groups_from_collection_for_select(Category.roots,:children,:name,:id,:name,@good.good_type),:id => "good_type",:class=> "select"%>
          </div>
          </li>
        </ul>
        <ul>
          <li>
          <!--
          <div class="w1">入库价格：</div>
          <div class="w2">
            <%= f.text_field :purchasing_price %>
          </div>

          -->
          <div class="w1">入库数量：</div>
          <div class="w2">
            <% if f.object.new_record? %>
              <%= f.text_field :count_back_stock %>
            <% else %>
              <%= f.object.count_back_stock %>
            <%end%>
          </div>

          <div class="w1">零售价格：</div>
          <div class="w2">
            <%= f.text_field :price %>
          </div>
          </li>
        </ul>
        <ul>
          <li>
          <div class="w1">商品来源：</div>
          <div class="w2">
            <select name="good[good_source]" id="good_source" class="select">
              <%= generate_good_source_options(@good)  %>
            </select>
          </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="h10"></div>
    <div class="input_bd">
      <button class="submit1 hand" type="submit">提交</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button onclick="window.location.href='/goods'" class="submit2 hand" type="button">返回</button>
    </div>
    <div class=" clear"></div>
  </div>
<%end%>
<script type="text/javascript">
  function fsubmit(){
    var form = $("form[0]");
    if($("#good_type")[0].value == ""){
      alert("请选择商品类型！");
    }else{
      form.submit();
    }
  }
</script>
