= form_header(:title => "创建商品", :link => goods_path)
= render :partial => "layouts/errors", :locals => { :target => @good }
= form_for(@good, :html => {:class => "form-horizontal well"}) do |f|
  - control_helper("name", "商品名称") do
    = f.text_field :name


  - control_helper("good_type", "商品类型") do
    = f.select :good_type, option_groups_from_collection_for_select(Category.roots,:children,:name,:id,:name,@good.good_type)


  - control_helper("count_back_stock", "入库数量") do
    - if f.object.new_record?
      = f.text_field :count_back_stock
    - else
      = f.object.count_back_stock


  - control_helper("price", "零售价格") do
    = f.text_field :price


  - control_helper("good_source", "商品来源") do
    = f.select :good_source, Setting.good_source_options(@good.good_source)


  .form-actions
    = f.submit "提交", :class => "btn "
    = link_to "返回", goods_path, :class => "btn"
