%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th 编号
      %th 商品名称
      %th 商品分类
      %th 零售价
      %th 前台商品数
      %th 操作

  %tbody
    - @goods.each_with_index do |good, index|
      %tr.table_items{:entry_id => good.id}
        %td= index + 1
        %td= good.name
        %td= generate_good_type_str(good.good_type)
        %td= good.price
        %td= good.count_front_stock
        %td
          - @order_item = OrderItem.new_by_good(good, @order.id)
          = form_for [@order, @order_item], :html => { :class => "form-inline td-form" }  do |f|
            = f.hidden_field :item_id
            = f.hidden_field :item_type
            = f.hidden_field :order_id
            = link_to "<<", "#", :class => "remove"
            = f.text_field :quantity, :class => "quantity span1"
            = link_to ">>", "#", :class => "add"
            = f.submit "购买", :class => "btn "



:javascript
  $(document).ready(function(){
    $('.remove').click(function(){
      var quantity = $(this).parent().find('.quantity');
      quantity.attr('value', parseInt(quantity.val()) - 1);
   });
    $('.add').click(function(){
      var quantity = $(this).parent().find('.quantity');
      quantity.attr('value', parseInt(quantity.val()) + 1);
    });
  });
