<form action="/goods/add_to_cart" id="add_to_cart_form">
  <div class=" table">
    <ul class="bttitle black fb " >
      <li class="w5">编号</li>
      <li class="w20">商品名称</li>
      <li class="w10">商品分类</li>
      <li class="w10">零售价</li>
      <li class="w10">商品总数</li>
      <li class="w10">库房商品数</li>
      <li class="w10">前台商品数</li>
      <li class="w20">操作</li>
    </ul>
    <%@goods.each_with_index do |good,index|%>
      <ul class="table_items" entry_id="<%= good.id%>">
        <li class="w5"><%= index + 1 %></li>
        <li class="w20"><%= good.name%></li>
        <li class="w10"><%= generate_good_type_str(good.good_type) %></li>
        <li class="w10"><%= good.price %></li>
        <li class="w10"><%= good.count_total_now %></li>
        <li class="w10"><%= good.count_back_stock %></li>
        <li class="w10"><%= good.count_front_stock %></li>
        <li class="w20">
          <input type='text' size=5 class='for-display-only'/>
          <input type='button' value='添加' class='reduce-goods-button' entry_id='<%= good.id %>'/>
        </li>
      </ul>
    <%end%>
  </div>
</form>
<div class="h10"></div>
<div class="input_bd">
  <input type='button' value="确认添加" class='submit-goods-button'/>
</div>
<div class=" clear"></div>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $('.reduce-goods-button').click(function(){
      var input = $(this);
      var input_value = input.prev('input:text').val();
      var count = isNaN(parseInt(input_value))  ? 0 : parseInt(input_value);
      count += 1;
      input.prev('input:text').val(count);
      if(input.next('.goods_id').size()==0){
        input.after('<input type="hidden" name="goods[][count]" class="goods_count" value=0>');
        input.after('<input type="hidden" name="goods[][id]" class="goods_id" value="">');
        input.next('.goods_id').val(input.attr('entry_id'));
      }
      input.next('.goods_id').next('.goods_count').val(count);
    });
    $('.for-display-only').change(function(){
      var input = $(this).next('input');
      if(input.next('.goods_id').size()==0){
        input.after('<input type="hidden" name="goods[][count]" class="goods_count" value=0>');
        input.after('<input type="hidden" name="goods[][id]" class="goods_id" value="">');
        input.next('.goods_id').val(input.attr('entry_id'));
      }
      input.next('.goods_id').next('.goods_count').val($(this).val());
    });
	
    $('.submit-goods-button').click(function(){
      var cart_form = $('#add_to_cart_form');
      var input = $(this);
      var url = cart_form.attr('action') + "?order_id=" + $('#order_id').val();
      $.post(url,cart_form.serialize(),function(reply){
        if(reply.match(/class='error'/)){
          input.next('span').remove();
          input.after(reply);
        }else{
          $('#cboxClose').click();
          window.location.reload();
        }
      });
    });
  });	
</script>	
