.table
  %ul.bttitle.black.fb
    %li.w5 编号
    %li.w20 商品名称
    %li.w10 商品分类
    %li.w10 零售价
    %li.w10 商品总数
    %li.w10 库房商品数
    %li.w10 前台商品数
    %li.w20 操作
  - @goods.each_with_index do |good,index|
    %ul.table_items{:entry_id => good.id}
      %li.w5= index + 1
      %li.w20= good.name
      %li.w10= generate_good_type_str(good.good_type)
      %li.w10= good.price
      %li.w10= good.count_total_now
      %li.w10= good.count_back_stock
      %li.w10= good.count_front_stock
      %li.w20
        - @order_item = OrderItem.new_by_good(good, @order.id)
        = form_for [@order, @order_item] do |f|
          = f.hidden_field :item_id
          = f.hidden_field :item_type
          = f.hidden_field :order_id
          = link_to "<<", "#", :class => "remove"
          = f.text_field :quantity, :class => "quantity span1"
          = link_to ">>", "#", :class => "add"
          = f.submit "购买"


  :javascript
    $(document).ready(function(){
      $('.remove').click(function(){
        var quantity = $(this).parent().find('.quantity');
        quantity.attr('value', parseInt(quantity.val()) - 1);
     });
      $('.add').click(function(){
        var quantity = $(this).parent().find('.quantity');
        quantity.attr('value', parseInt(quantity.val()) + 1);
      });
    });
