= table_header(:title => "商品查询", :link => "")

= render :partial => "soso", :locals => { :form_url => front_goods_path }

- columns = {:name => "名称", :good_type_in_chinese => "类型", :price => "价格", :count_total_now => "商品总数", :count_back_stock => "库存数", :count_front_stock => "前台数" }
- collection = @goods


= table_header(:title => "商品列表", :link => new_good_path)
%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th 编号
      - columns.each_value do |v|
        %th= v
      %th 操作

  %tbody
    - collection.each_with_index do |e, index|
      %tr
        %td= index + 1
        - columns.each_key do |k|
          %td
            - if k.to_s == "start_date" || k.to_s == "end_date"
              = (e.send k).to_chinese_ymd
            - else
              =e.send k
        %td
          - operations = [:show]
          = operations_panel(e, operations)
          = link_to raw("<i class='icon-edit'></i>"), front_store_manage_good_path(e), :class => "store_manage_index"

= render :partial => "layouts/page_nav", :locals => {:objs => @goods}


= content_for :javascripts do
  $(".store_manage_index").colorbox({width:"80%", height:"70%", iframe:false});
