%span.btn..disabled 前台出库管理
%span.pull-right
  =link_to raw("<i class='icon-arrow-left'></i>"), '', :class => "btn"

%div{:style => "height: 3px;"}

出库登记
= form_for @good, :url => front_store_update_good_path(@good), :html => { :class => "form-horizontal well" } do |f|
  - control_helper("name", "商品名称") do
    = @good.name

  - control_helper("count_front_stock_in", "现存") do
    = "前台:#{@good.count_front_stock};后台:#{@good.count_back_stock}"


  - control_helper("count_front_stock_in", "前台出库") do
    = f.text_field :count_front_stock_in


  .form-actions
    = f.submit "提交", :class => "btn "
