<div class="w96">
  <div class=" r_bt" >
    <div class=" r_bt_l" >
      <div class=" r_bt_l_a" ></div>
      <div class=" r_bt_l_c fb white" >商品查询</div>
    </div>
    <div class=" r_bt_r" >

    <% unless request.referrer =~ /book_record/%>
      <button onclick="window.location.href='/goods/new'" class="submit2 hand" type="button">添加商品</button>
    <%end%>
    </div>
  </div>
  <div class="soso">
    <form method="post" action="/goods?p=<%=@p%>" class="form-profile" id="search-goods-form">
      <%= hidden_field_tag "_method","get"%>
      <div class="w95">
        照商品类别：
        <label>
          <select name="good_type" id="good_type" class="select" onchange='javascript:submit_search();return;'>
            <%= generate_good_type_options(@good_type)  %>
          </select>
        </label>
        &nbsp;&nbsp;&nbsp;&nbsp;
        按照商品名称：
        <label>
          <input type="text"class="inputtext" autocomplete="/goods/autocomplete_name" id="name" name="name" value="<%= params[:name] %>"/>
        </label>
      </div>
    </form>
  </div>
  <div class="h10"></div>
  <div class=" r_bt" >
    <div class=" r_bt_l" >
      <div class=" r_bt_l_a" ></div>
      <div class=" r_bt_l_c fb white" >商品列表</div>
    </div>
    <div class=" r_bt_r" ></div>
  </div>
  <div id='goods'>
  <%= render :partial => "goods", :locals => { :goods => @goods } %>
  </div>
  <div class="h10"></div>
</div>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $('input[autocomplete]').each(function(i){
      $(this).autocomplete({
        source: $(this).attr('autocomplete'),
        select: function(ui, li){
          var item = li.item;
          $(this).val(item.value);
          $('#search-goods-form').submit();
        }
      });
    });
    $('#search-goods-form').submit(function(){
      $.post($("#search-goods-form").attr('action'),$("#search-goods-form").serialize(),
      function(reply){
        $('fieldset.table').remove();
        $('fieldset.hidden').after(reply);
      });
      return false;
    });
  });



  function submit_search(){
    console.log($("#search-goods-form").serialize());
    $.ajax({url:"http://0.0.0.0:3000/goods.json",
        type: "get",
        data:$("#search-goods-form").serialize(),
        success: function(reply){
        /*$('fieldset.table').remove();
        $('fieldset.hidden').after(reply); */

        }});
  }
</script>
