<div class="w96">
  <div class=" r_bt">
    <div class=" r_bt_l">
      <div class=" r_bt_l_a"></div>
      <div class=" r_bt_l_c fb white">时段价格信息</div>
    </div>
    <div class=" r_bt_r">
      <button onclick="window.location.href='/goods/new'" class="submit2 hand" type="button">添加商品</button>
    </div>
  </div>
  <div class="info">
    <div class="infobox">
      <div class="infobox_bt"><p>商品 <%= @good.name %> 的基本信息</p></div>
      <div class="infobox_nr">
        <ul>
          <li>
            <div class="w1">商品名称：</div>
            <div class="w2">
              <%= @good.name %>
            </div>
            <div class="w1">商品类型：</div>
            <div class="w2">
              <%= generate_good_type_str(@good.good_type) %>
            </div>
          </li>
        </ul>
        <ul>
          <li>
            <div class="w1">入库价格：</div>
            <div class="w2">
              <%= @good.purchasing_price %>
            </div>
            <div class="w1">零售价格：</div>
            <div class="w2">
              <%= @good.price %>
            </div>
          </li>
        </ul>
        <ul>
          <li>
            <div class="w1">库存总数：</div>
            <div class="w2">
              <%= @good.count_total_now %>
            </div>
            <div class="w1">后台库总数：</div>
            <div class="w2">
              <%= @good.count_back_stock %>
            </div>
          </li>
        </ul>
        <ul>
          <li>
            <div class="w1">前台库总数：</div>
            <div class="w2">
              <%= @good.count_total_now %>
            </div>
            <div class="w1">商品来源：</div>
            <div class="w2">
              <%= generate_good_source_str(@good.good_source) %>
            </div>
          </li>
        </ul>

      </div>
    </div>
    <div class="h10"></div>
    <div class="input_bd">
      <button class="submit1 hand" type="button" onclick="window.location.href='<%= edit_good_path(@good) %>'">修改</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="submit3 hand" type="button" onclick="window.location.href='<%= goods_path %>'">返回</button></div>
    <div class=" clear"></div>
  </div>
</div>