<%form_for card  do |f|%>
  <div class="fform">
    <div class="fformbox" >
      <div class="fformbox_bt"><p>基本属性</p></div>
      <%= error_messages_for :card %>
      <div class="fformbox_nr">
        <ul>
          <li>
            <div class="w1">卡名：</div>
            <div class="w2">
              <%= f.text_field :name %>
            </div>
            <div class="w1">基础类型：</div>
            <div class="w2">
              <select name="card[card_type]" onchange="type_change()" id="card_type" class="select">
                <%= generate_card_type_options(card)%>
              </select>
            </div>
          </li>
        </ul>
        <ul>
          <li>
            <div class="w1">卡前缀：</div>
            <div class="w2">
              <%= f.text_field :card_prefix %>
            </div>
            <div class="w1">有效期：</div>
            <div class="w2">
              <%= f.text_field :expired%>个月
            </div>
          </li>
        </ul>
        <ul>
          <li>
            <div class="w1">可消费类型：</div>
            <div class="w2">
              <%= f.radio_button :consume_type,1%>仅限场地消费
              <%= f.radio_button :consume_type,2%>所有消费
            </div>
          </li>
 <li>
            <div class="w1">签字权：</div>
            <div class="w2">
              <%= f.text_field :shared_amount%>
            </div>
                   </li>

        </ul>
       <ul>
          <li>
            <div class="w1">提醒金额：</div>
            <div class="w2">
              <%= f.text_field :min_amount%> 元
            </div>
            <div class="w1">提醒次数：</div>
            <div class="w2">
              <%= f.text_field :min_count%>次
            </div>
          </li>
        </ul>
  
       <ul>
          <li>
            <div class="w1">预期提醒：</div>
            <div class="w2">
              <%= f.text_field :min_time%>天
            </div>
          </li>
        </ul>
  
       <ul style="height:80px;">
          <li>
            <div class="w1" >说明：</div>
            <div class="ww2" >
              <textarea name="card[description]" cols="45" rows="4"><%= card.description %></textarea>
              <div class="clear"></div></div>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
    </div>
    <div class="h10"></div>
    <div class="fformbox" >
      <div class="fformbox_bt"><p>时段折扣价</p></div>
      <div class=" table2">

        <ul class="bttitle black fb " >
          <li class="w5">序号</li>
          <li class="w25">时段</li>
          <li class="w18">标准收费(/小时)</li>
          <li class="w10">可用</li>
          <li class="w15">折扣收费</li>
          <li class="w27">说明</li>
        </ul>
        <%@period_prices.each_with_index do |period_price,index|%>
          <% available_period = card.generate_card_period_price(period_price)%>
          <ul class="table_items">
            <li><%= index + 1%></li>
            <li class="w25">
              <%=period_price.name%>：<%=period_price.start_time%>:00-<%=period_price.end_time%>:00
            </li>
            <li class="w18"><%=period_price.price%></li>
            <li class="w10">
              <input type="checkbox" name="time_available_<%=period_price.id%>"  value="1" <%if available_period %> checked <%end%> />
            </li>
            <li class="w15">
              <input type="text" name="time_discount_<%=period_price.id%>" maxlength="4" size="4"  value="<%= card.generate_card_period_price(period_price).nil? ? period_price.price : card.generate_card_period_price(period_price).card_price%>" />
            </li>
            <li class="w27"><%=period_price.description%></li>
          </ul>
        <%end%>
      </div>
    </div>
    <div class="h10"></div>
    <div class="input_bd">
      <button class="submit1 hand" type="submit">提交</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button onclick="window.location.href='/cards'" class="submit2 hand" type="button">返回</button>
    </div>
    <div class=" clear"></div>
  </div>
<%end%>
<script type="text/javascript">
  function fsubmit()
  {
    var form = $("form[0]");
    form.submit();
  }
</script>
