= table_header(:title => "卡模版信息", :link => new_card_path)


.form-horizontal.well
  - control_helper(:name, "卡名") do 
    - @card.name

  - control_helper(:card_type, "基础类型") do 
    - @card.card_type_in_chinese

  - control_helper(:card_prefix, "卡前缀") do 
    - @card.card_prefix

  - control_helper(:expired, "有效期") do 
    - @card.card_prefix + "  个月"


  - control_helper(:consume_type, "可消费类型") do 
    - @card.consume_type


  - control_helper(:max_shared_count, "签字权") do 
    - @card.max_shared_count

  - control_helper(:min_amount, "提醒金额") do 
    - @card.min_amount


  - control_helper(:min_count, "提醒次数") do 
    - "#{@card.min_count} 次"


  - control_helper(:min_time, "预期提醒") do 
    - @card.min_time


  - control_helper(:description, "说明") do 
    - @card.description




  = table_header(:title => "时段折扣价", :link => "")
  
  %table.table.table-striped.table-bordered.table-condensed
    %thead
      %tr
        %th 编号
        %th 时段
        %th 收费标准/小时
        %th 可用
        %th 折扣收费
        %th 说明
    %tbody
      - @period_prices.each_with_index do |period_price,index|
        - available_period = @card.generate_card_period_price(period_price)
        %tr
          %td= index.succ
          %td= period_price.name + "#{period_price.start_time}:00-#{period_price.end_time}:00"
          %td= period_price.price
          %td= check_box_tag("time_available_#{period_price.id}", "1", available_period.present?)
          %td= text_field_tag("time_discount_#{period_price.id}", @card.generate_card_period_price(period_price).nil? ? period_price.price : @card.generate_card_period_price(period_price).card_price)
          %td= period_price.description
  
  .form-actions
    = link_to "返回", cards_path, :class => "btn btn-danger"
