<div class="w96">
  <div class=" r_bt">
    <div class=" r_bt_l">
      <div class=" r_bt_l_a"></div>
      <div class=" r_bt_l_c fb white">卡模版信息</div>
    </div>
    <div class=" r_bt_r">
      <button onclick="window.location.href='/cards/new'" class="submit2 hand" type="button">创建卡模板</button>
    </div>
  </div>
  <div class="info">
    <div class="infobox">
      <div class="infobox_bt"><p>卡模版 <%= @card.name %> 的基本信息</p></div>
      <div class="infobox_nr">
        <ul>
          <li>
          <div class="w1">卡名：</div>
          <div class="w2">
            <%= @card.name%><%if @card.name.blank?%><a class="blank_element"></a><%end%>
          </div>
          <div class="w1">基础类型：</div>
          <div class="w2">
            <%=display_card_type_desc(@card)%>
          </div>
          </li>
        </ul>
        <ul>
          <li>
          <div class="w1">卡前缀：</div>
          <div class="w2">
            <%= @card.card_prefix%><%if @card.card_prefix.blank?%><a class="blank_element"></a><%end%>
          </div>
          <div class="w1">有效期：</div>
          <div class="w2">
            <%=  @card.expired%><span class="hint gray">个月</span>
          </div>
          </li>
        </ul>
        <ul>
          <li>
          <div class="w1">提醒金额：</div>
          <div class="w2">
            <%= @card.min_amount%>元
          </div>
          <div class="w1">提醒次数：</div>
          <div class="w2">
            <%= @card.min_count%>次
          </div>
          </li>
        </ul>
        <ul>
          <li>
          <div class="w1">提醒时间：</div>
          <div class="w2">
            <%= @card.min_amount%>天
          </div>
          <div class="w1">授权人数量：</div>
          <div class="w2">
            <%= @card.shared_amount%><%if @card.shared_amount.blank?%><a class="blank_element"></a><%end%>
          </div>

          </li>
        </ul>
        <ul>
          <li>
          <div class="w1">说明：</div>
          <div class="w2">
            <%= @card.description%>
          </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="h10"></div>
    <div class="infobox">
      <div class="infobox_bt"><p>时段折扣价</p></div>
      <div class="table2">
        <ul class="bttitle black fb ">
          <li class="w5">序号</li>
          <li class="w20">时段</li>
          <li class="w15">标准收费(/小时)</li>
          <li class="w10">可用</li>
          <li class="w15">折扣收费</li>
          <li class="w20">说明</li>
        </ul>
        <%@period_prices.each_with_index do |period_price,index|%>
          <% available_period = @card.generate_card_period_price(period_price)%>
          <ul class="table_items">
            <li class="w5"><%= index + 1%></li>
            <li class="w20">
            <%=period_price.name%>：<%=period_price.start_time%>:00-<%=period_price.end_time%>:00
            </li>
            <li class="w15"><%=period_price.price%></li>
            <li class="w10">
            <input type="checkbox" name="time_available_<%=period_price.id%>"  value="1" <%if available_period %> checked <%end%> />
            </li>
            <li class="w15">
            <input type="text" name="time_discount_<%=period_price.id%>" maxlength="4" size="4"  value="<%= @card.generate_card_period_price(period_price).nil? ? period_price.price : @card.generate_card_period_price(period_price).card_price%>" />
            </li>
            <li class="w20"><%=period_price.description%></li>
          </ul>
        <%end%>
      </div>
    </div>
    <div class="h10"></div>
    <div class="input_bd">
      <button class="submit1 hand" type="button" onclick="window.location.href='<%= edit_card_path(@card) %>'">修改</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="submit3 hand" type="button" onclick="window.location.href='<%= cards_path %>'">返回</button></div>
    <div class=" clear"></div>
  </div>
  <div class="h10"></div>
</div>
