<%= form_for(@common_resource) do |f| %>
  <% if @common_resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@common_resource.errors.count, "error") %> prohibited this common_resource from being saved:</h2>

      <ul>
      <% @common_resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
 <div class="field">
    <%= f.label :detail_str %><br />
    <%= f.text_field :detail_str %></div> 
  </div>



  <!--  <div><#%= f.label :资源选项 %> <请输入多个资源选项，并用空格分开。如:A B><br />
    <#%= f.text_field :detail_str %></div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
