.w96
  = table_header(:title => "", :link => new_common_resource_path, :link_text => "新加资源")
  .table
    %ul.bttitle.black.fb
      %li.w10 名称
      %li.w10 描述
      %li.w10 原有选项
      %li.w10
      %li.w10
      %li.w10
    - @common_resources.each do |common_resource|
      %ul
        %li.w10= common_resource.name
        %li.w10= common_resource.description
        %li.w10= common_resource.detail_str
        %li.w20
          = link_to '查看', common_resource
          = link_to '编辑', edit_common_resource_path(common_resource)
          = link_to '删除', common_resource, :confirm => '确定删除?', :method => :delete
          = link_to '资源选项管理', common_resource_common_resource_details_path(common_resource)

  = link_to '新加资源', new_common_resource_path
  = link_to '版本调整', power_index_common_resources_path ,:style=>'color:white';
