<div class='w96'>
<table>
  <tr>
    <th>名称</th>
    <th>描述</th>
    <th>原有选项</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @common_resources.each do |common_resource| %>
  <tr>
    <td><%= common_resource.name %></td>
    <td><%= common_resource.description %></td>
    <td><%= common_resource.detail_str%></td>
    <td><%= link_to '查看', common_resource %></td>
    <td><%= link_to '编辑', edit_common_resource_path(common_resource) %></td>
    <td><%= link_to '删除', common_resource, :confirm => '确定删除?', :method => :delete %></td>
    <td><%= link_to '资源选项管理', {:action => "common_resource_detail_index", :common_resource_id => common_resource} %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '新加资源', new_common_resource_path %>
<%= link_to '版本调整', power_index_common_resources_path ,:style=>'color:white';%>
</div>
