= table_header(:title => "配置管理", :link => new_common_resource_path)

%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th 名称
      %th 描述
      %th 原有选项
      %th
  %tbody
    - @common_resources.each do |common_resource|
      %tr
        %td= common_resource.name
        %td= common_resource.description
        %td= common_resource.detail_str
        %td
          = link_to '查看', common_resource
          = link_to '编辑', edit_common_resource_path(common_resource)
          = link_to '删除', common_resource, :confirm => '确定删除?', :method => :delete
          = link_to '资源选项管理', common_resource_common_resource_details_path(common_resource)


= link_to '新加资源', new_common_resource_path, :class => "btn "
= link_to '版本调整', power_index_common_resources_path ,:class => "btn "
