<%= content_for :head_content do%>
  <%= stylesheet_link_tag "checktree" %>
  <style>
    #holder{
      margin-left: 20px;
    }
    ul.tree{
      margin-left: 40px;
    }
    ul.tree label{
      margin-left: 5px;
    }

  </style>
<%end%>

<script type='text/javascript'>
  $(document).ready(function(){
      $("input[type=checkbox]").click(function(){
          if($(this).is(":checked") && $(this).attr('parent_id') !== undefined){
            $("input[type=checkbox][value=" + $(this).attr('parent_id') +"]").attr('checked','checked');
          }
        });
 
});
</script> 
<div id='holder' >

  <%if flash[:notice] %><div id="errorExplanation"><p><%= flash[:notice]%></p></div><%end%>

  <div class=" r_bt" >
    <div class=" r_bt_l" >
      <div class=" r_bt_l_a" ></div>
      <div class=" r_bt_l_c fb white" > 版本权限</div>
    </div>
  </div>



  <%= form_for(:common_resource,:url => power_update_common_resources_url, :html => {:method =>:put}) do |f|%>
    <%= raw all_powers_tree(Power.all)%> 


     <div class="w1" style="">预定人：</div>
      <div class="w2">
        <input name="user_name" value='<%= params[:user_name] || current_user.login%>'  autocomplete="/users/autocomplete_user_name" id='name'>
      </div>
      <div class="w1" style="">密码：</div>
      <div class="w2">
        <input name="password"  type='password' value=''>
      </div>
    <br>

    <%= submit_tag "修改了",:class => "submit1"%>
  <%end%>

</div>
