= form_header(:title => "商品分类", :link => categories_path)
=render :partial => "layouts/errors", :locals => { :target => @category }
= form_for(@category, :html => { :class => "form-horizontal well" }) do |f|
  - control_helper(:parent_id, "分类上级") do
    = f.select :parent_id,indent_category_options(params[:p]) ,:include_blank => true

  - control_helper(:name, "名称") do
    = f.text_field :name

  .form-actions
    = f.submit "提交", :class => "btn btn-success"
    =link_to "返回", categories_url, :class => "btn btn-danger"
