= content_for :head_content do
  = stylesheet_link_tag "checktree"

= table_header(:title => "分类列表", :link => new_category_path)

- collection = @categories

%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th 编号
      %th 名称
      %th 操作

  %tbody
    - collection.each_with_index do |e, index|
      %tr
        %td= index + 1
        %td
          = e.parent.name + " >> " if e.parent
          = e.name
        %td
          - operations = [ :edit]
          - operations << :destroy if e.can_destroy?
          = operations_panel(e, operations)


