= form_header(:title =>"操作记录", :link => "")
= form_tag(logs_path, :class => "form-horizontal well", :method => :get) do
  - control_helper("abc", "类别") do
    = link_to "全部",logs_path(:user => params[:user],:start => params[:start],:end => params[:end]),:style => "font-size:14px;color:black;padding:5px 10px!important;", |
      :class => "#{params[:t].present? ? "" : "current_log"}"                                                                                                              |
    - Log::LOG_TYPE.each do |k,v|
      = link_to v,logs_path(:t => k,:user => params[:user],:start => params[:start],:end => params[:end] ) , |
        :style => "font-size:14px;color:black;padding:5px 10px!important;" ,                                 |
        :class => "#{ (params[:t].presence && k == params[:t].to_sym)?  "current_log" : ""}"                 |
  - control_helper("start", "开始时间") do
    = text_field_tag "start",params[:start],:id => "start", :class => "select-date"


  - control_helper("end", "结束时间") do
    = text_field_tag "end", params[:end],:id => "end", :class => "select-date"


  - control_helper("user", "操作人") do
    %input{:autocomplete => "/users/autocomplete_user_name", :name => "user", :type => "field", :value => params[:user]}/

  .form-actions
    = submit_tag "提交", :class => "btn btn-primary"


%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th 编号
      %th 用户
      %th 时间
      %th 描述

  %tbody
    - @logs.each_with_index do |e, index|
      %tr
        %td= index + 1
        %td= e.user_name
        %td= e.created_at.strftime("%Y-%m-%d %H:%M:%S")
        %td= e.description

= render :partial => "layouts/page_nav" ,:locals => { :objs => @logs }
