<style type='text/css'>
  .current_log{
    border: 2px solid #84dd69;  
    background-color: #84dd69;
  }

</style>
<div class="w96">
  <div class=" r_bt" >
    <div class=" r_bt_l" >
      <div class=" r_bt_l_a" ></div>
      <div class=" r_bt_l_c fb white" >操作记录</div>
    </div>

    <div class=" r_bt_r" ></div>
  </div>
  <div class="soso">
    <form method="get" action="/logs" class="form-profile" id="search_form">
      <div class="w95">
        <div class="fformbox_nr">
          <ul>
            <li>

            <%= link_to "全部",logs_path(:user => params[:user],:start => params[:start],:end => params[:end]),:style => "font-size:14px;color:black;padding:5px 10px!important;",
              :class => "#{params[:t].present? ? "" : "current_log"}"%>
              <% Log::LOG_TYPE.each do |k,v|%>
                <%= link_to v,logs_path(:t => k,:user => params[:user],:start => params[:start],:end => params[:end] ) ,
                  :style => "font-size:14px;color:black;padding:5px 10px!important;" ,
                  :class => "#{ (params[:t].presence && k == params[:t].to_sym)?  "current_log" : ""}"%>
                <%end%>
                </li>
              </ul>
              <ul>
                <li>
                <span> 开始时间</span>
                <%= text_field_tag "start",params[:start],:id => "start"%>
                <span>结束时间</span>
                <%= text_field_tag "end",params[:end],:id => "end"%>
                </li>
              </ul>
              <ul>
                <li>
                <span> &nbsp;&nbsp;&nbsp;操作人 </span>
                <input type='field' name='user' value='<%= params[:user]%>' autocomplete="/users/autocomplete_user_name">
                </li>
                <li><span> <%= submit_tag "查询",:class => "inputsubmit"%> </span></li>
              </ul>
            </div>

          </div>
        </form>
      </div>
      <div class="h10"></div>
      <div class=" r_bt" >
        <div class=" r_bt_l" >
        </div>
        <div class=" r_bt_r" ></div>
      </div>
      <div class=" table">
        <ul class="bttitle black fb " >
          <li class="w5">编号</li>
          <li class="w10">用户</li>
          <li class="w15">时间</li>
          <li class="w20">描述</li>
        </ul>
        <% @logs.each_with_index do |log,index| -%>
          <ul class="member_items table_items">
            <li class="w5"><%= index + 1 %></li>
            <li class="w10"><%= log.user_name %></li>
            <li class="w15"> <%= DateUtil::timelong(log.created_at)%></li>
            <li class="w20"> <%= log.desc%></li>
          </ul>
        <%end -%>
      </div>
      <div class="h10"></div>
      <div class="pages">
        <%= will_paginate @logs, :sp => 1%>
      </div>
      <div class="h10"></div>
    </div>

<script type="text/javascript">
  $(function() {
    $("#start").datepicker({dateFormat: 'yy-mm-dd',changeYear:true,changeMonth:true});
    $("#end").datepicker({dateFormat: 'yy-mm-dd',changeYear:true,changeMonth:true});
    });
 
  </script>
