<div class="w96">
  <div class=" r_bt">
    <div class=" r_bt_l">
      <div class=" r_bt_l_a"></div>
      <div class=" r_bt_l_c fb white">周期预定结果</div>
    </div>
    <div class=" r_bt_r"></div>
  </div>
  <div class="info">
    <div class="infobox">
      <div class="infobox_bt"><p>会员 <%= @member.name %> 周期预定结果</p></div>
      <div class="infobox_nr">
        <ul>
          <li>
            <div class="w1">会员名称：</div>
            <div class="w2">
              <%= @member.name %>
            </div>
            <div class="w1">联系电话：</div>
            <div class="w2">
              <%= @member.mobile %>
            </div>
          </li>
        </ul>
        <ul>
          <li>
            <div class="w1">会员卡号：</div>
            <div class="w2">
              <%= @current_card.card_serial_num %>
            </div>
            <div class="w1">卡内余额：</div>
            <div class="w2">
              <%= @current_card.left_fee %>元
            </div>
          </li>
        </ul>
        <ul>
          <li>
            <div class="w1">卡类型：</div>
            <div class="w2">
              <%= @current_card.card.card_type_desc %>
            </div>
            <div class="w1">卡状态：</div>
            <div class="w2">

            </div>
          </li>
        </ul>
        <ul>
          <li>
            <div class="w1">场地：</div>
            <div class="w2">
              <%= @order.court.name %>
            </div>
            <div class="w1">每周：</div>
            <div class="w2">
              <%= @order.wday %>
            </div>
          </li>
        </ul>
        <ul>
          <li>
            <div class="w1">开始日期：</div>
            <div class="w2">
              <%= @order.start_date.to_s%>
            </div>
            <div class="w1">结束日期：</div>
            <div class="w2">
              <%= @order.end_date.to_s %>
            </div>
          </li>
        </ul>
        <ul>
          <li>
            <div class="w1">开始时间：</div>
            <div class="w2">
              <%= @order.start_hour %>:00
            </div>
            <div class="w1">结束时间：</div>
            <div class="w2">
              <%= @order.end_hour %>:00
            </div>
          </li>
        </ul>
        <ul>
          <li>
            <div class="w1">统计：</div>
            <div class="w2">
              一共<%= @order.orders.size %>次
            </div>
            <div class="w1">明细：</div>
            <div class="w2">
              <% @order.orders.each do |o| -%>
                <%= o.book_record.record_date.to_date.to_s(:db) %>
              <%end -%>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>