<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>博德维网球管理系统</title>
    <%= stylesheet_link_tag 'main' %>
    <style type="text/css">
      <!--
      body{background: url(/images/new/login_bg.jpg) repeat-x top center #dfff92 ;}
      #errorExplanation {
        background-color: #FFDCD7;
        border: 2px solid #D01E5E;
        margin: 0 2px 2px 10px;
        padding: 7px 8px 12px;
        width: 460px;
      }
      -->
    </style>
    <%= javascript_include_tag 'jquery-1.4.2'%>
  </head>
  <body>
    <div class="login">
      <div class="login_bt white fmic30">博德维网球管理系统</div>
      <div class="login_tu"></div>
      <%= form_for @user_session, :url => user_session_path,:html => {:id => 'new_user_action'} do |f| -%>
        <%= error_messages_for :user_session %>
        <div class="login_bd">
   <ul>
            <li class="w25  tright" >分店：</li>
            <li>
              <label>
                <%= select_tag :catena_id,options_for_select(Catena.all.collect{|c| [c.name,c.id]})%>
              </label>
            </li>
          </ul>



         <ul>
            <li class="w25  tright" >用户名：</li>
            <li>
              <label>
                <%= f.text_field :login,:size => 40,:style => "height:20px; line-height:20px;" %>
              </label>
            </li>
          </ul>

          <ul>
            <li class="w25  tright" >密码：</li>
            <li >
              <label>
                <%= f.password_field :password,:size => 40,:style => "height:20px; line-height:20px;" %>
              </label>
            </li>
          </ul>
          <ul>
            <li class="w25  tright" ></li>
            <li >
              <label>
                <%= f.check_box :remember_me,{:size => 20}, 1 , 1%>  记住我的密码
              </label>
            </li>
          </ul>
        </div>
        <div class="login_bb">
          <a title="登录" href="#" onclick="$('#new_user_action').submit();return false;"><img src="/images/new/login_dl.gif" alt="登录" /></a>
          <a title="新用户注册" href="#"><img src="/images/new/login_zc.gif" alt="新用户注册" /></a>
        </div>
      <%end -%>
    </div>
  </body>
</html>
