<%= form_for(@catena) do |f| %>
  <%= error_messages_for :catena %>
  <div class='fformbox_nr'>
    <ul>
      <li> 
      <div class='w1'>连锁名称：</div>
      <div class='w2'>
        <input type="text" name="catena[name]" maxlength="12" value="<%=@catena.name%>" onblur="return;" id="name" class="inputtext" />
      </div>
      <div class='w1'> 联系人：</div>
      <div class='w2'>
        <input type="text" name="catena[contact]" maxlength="12" value="<%=@catena.contact%>" onblur="return;" id="name" class="inputtext" />
      </div>
      </li>
    </ul>

    <ul>
      <li> 
      <div class='w1'>联系电话：</div>
      <div class='w2'>
        <input type="text" name="catena[telephone]"  value="<%= @catena.telephone %>" onblur="return;" />
      </div>
      </li>
    </ul>

    <ul>
      <li>
      <div class='w1'>
        描<a class="blank_element_10"></a>述：</div>
      <div class='w2'>
        <input name="catena[description]" type='text'><%= @catena.description %></input>
      </div>
      </li>
    </ul>
  </div>

<% end %>

<script type="text/javascript">
  function fsubmit(){
    var form = $("form[0]");
    form.submit();
  }
</script>
