<%= form_for(@catena) do |f| %>
  <div class="item">
    <%= error_messages_for :catena %>
    <fieldset class="hidden" style="height:200px;">
      <legend>属性信息</legend>
      <p>
        <label for="name"><em>*</em>连锁名称：</label>
        <input type="text" name="catena[name]" maxlength="12" value="<%=@catena.name%>" onblur="return;" id="name" class="inputtext" />
        <a class="blank_element_20"></a>
        <label for="contact">联系人：</label>
        <input type="text" name="catena[contact]" maxlength="12" value="<%=@catena.contact%>" onblur="return;" id="name" class="inputtext" />
        </p>
      
      <p>
        <label for="telephone"><a class="blank_element_6"></a>联系电话：</label>
        <input type="text" name="catena[telephone]" maxlength="12" value="<%= @catena.telephone %>" onblur="return;" id="telephone" class="inputtext" />
      </p>
      <p>
        <label for="description"><a class="blank_element_6"></a>描<a class="blank_element_10"></a>述：</label>
        <textarea name="catena[description]" cols="47" rows="3" ><%= @catena.description %></textarea>
      </p>
    </fieldset>
  </div>

  <div class="btn t_center">
    <a href="javascript:void(0);" onclick="fsubmit();return false;" id="submit_bt">提交 </a>|
    <% if !@catena.id.blank? %>
      <%= link_to '查看', @catena %> |
    <%  end %>
    <%= link_to '返回', catenas_path %>
  </div>
<% end %>

<script type="text/javascript">
  function fsubmit(){
    var form = $("form[0]");
    form.submit();
  }
</script>