<%if notice%><p class="notice"><%= notice %></p><%end%>
<label align="right">
  <%= link_to '创建新连锁店', new_catena_path %>
 <br />
</label>
<br />
<h1>连锁店列表</h1>

<fieldset class="table">
  <ul class="title_ul">
    <li style="width:10%;">名称</li>
    <li style="width:10%;">说明</li>
    <li style="width:20%;">操作</li>
  </ul>
  <% for catena in @catenas %>
    <ul>
      <li style="width:10%;"><%= catena.name%></li>
      <li style="width:15%;"><%= catena.description %></li>
      <li style="width:20%;"><%= link_to '查看', catena %>
          | <%= link_to '修改', edit_catena_path(catena) %>
          | <% if catena.status == CommonResource::COURT_ON  %>
            <%= link_to '停用', {:controller => :catenas, :action => :change_status, :status => 0, :id => catena.id}, {:confirm => '确定停用吗?'} %>
            <% elsif catena.status == CommonResource::COURT_OFF%>
            <%= link_to '启用', {:controller => :catenas, :action => :change_status, :status => 1, :id => catena.id}, {:confirm => '确定启用吗?'} %>
            <%end%>
        </li>
      </ul>
<% end %>
</fieldset>
