<div class="w96">
  <div class=" r_bt" >
    <div class=" r_bt_l" >
      <div class=" r_bt_l_a" ></div>
      <div class=" r_bt_l_c fb white" >分店列表</div>
    </div>

    <div class=" r_bt_r" >
      <button onclick="window.location.href='/catenas/new'" class="submit2 hand" type="button">创建分店</button>
    </div>
  </div>

  <div class="h10"></div>
  <div class=" table">
    <ul class="bttitle black fb " >
      <li class='w10'>名称</li>
      <li class='w10'>说明</li>
      <li class='w20'>操作</li>
    </ul>
    <% for catena in @catenas %>
      <ul class='table_items'>
        <li class='w10'><%= catena.name%></li>
        <li class='w10'><%= catena.description %></li>
        <li class='w20'><%= link_to '查看', catena %>
        | <%= link_to '修改', edit_catena_path(catena) %>
        | <%= link_to '删除', catena_path(catena),:method => :delete %>
        | <% if catena.status == CommonResource::COURT_ON  %>
          <%= link_to '停用', {:controller => :catenas, :action => :change_status, :status => 0, :id => catena.id}, {:confirm => '确定停用吗?'} %>
        <% elsif catena.status == CommonResource::COURT_OFF%>
          <%= link_to '启用', {:controller => :catenas, :action => :change_status, :status => 1, :id => catena.id}, {:confirm => '确定启用吗?'} %>
        <%end%>
        </li>
      </ul>
    <% end %>
  </div>
</div>
