<div class="header">
  <div class="logo"><%= current_catena.name %>网球管理系统</div>
  <div class="menu">
    <div class="title">
      <%if current_user %>
        当前用户：<%= current_user.login %>  |  <%= link_to '修改密码',edit_user_path(current_user) %>  |   <%= link_to "退出",user_session_path(current_user),:method => 'delete' %>
      <%else%>
        <%=  link_to "请登录",new_user_session_path%>  |  <%=  link_to "添加用户",new_user_path%>
      <%end%>
    </div>
    <div class="t_right">
      <a href="#" class="menu01 menuoff"></a><a href="/tennis_courts" class="menu02"></a><a href="/members" class="menu03"></a><a href="/book_records/new" class="menu04"></a><a href="/balances" class="menu05"></a>
    </div>
  </div>
</div>
