<div class="w178 menu_item" id="common_memu">
  <div class="bt1 f14b white" >基础信息管理</div>
  <div class="left_nav" >
    <div class="xdh">
      <%= render :partial => "menus/common_memu" %>
    </div>
    <div class="h10" ></div>
  </div>
</div>

<div class="w178 menu_item" id="member_memu">
  <div class="bt1 f14b white" >会员管理</div>
  <div class="left_nav" >
    <div class="xdh">
      <%= render :partial => "menus/member_memu" %>
    </div>
    <div class="h10" ></div>
  </div>
</div>

<div class="w178 menu_item" id="member_card_memu">
  <div class="bt1 f14b white" >会员卡管理</div>
  <div class="left_nav" >
    <div class="xdh">
      <%= render :partial => "menus/member_card_memu" %>
    </div>
    <div class="h10" ></div>
  </div>
</div>

<div class="w178 menu_item" id="goods_memu">
  <div class="bt1 f14b white" >商品库存管理</div>
  <div class="left_nav" >
    <div class="xdh">
      <%= render :partial => "menus/goods_memu" %>
    </div>
    <div class="h10" ></div>
  </div>
</div>

<div class="w178 menu_item" id="report_menu">
  <div class="bt1 f14b white" >分析报表</div>
  <div class="left_nav" >
    <div class="xdh">
      <%= render :partial => "menus/report_menu" %>
    </div>
    <div class="h10" ></div>
  </div>
</div>

<div class="w178 menu_item" id="book_record_menu">
  <div class="bt1 f14b white">场地预定</div>
  <div class="left_nav" >
    <div class="xdh">
      <%= render :partial => "menus/book_record_menu" %>
    </div>
    <div class="h10" ></div>
  </div>
</div>

<div class="w178 menu_item" id="balance_menu">
  <div class="bt1 f14b white">消费结算</div>
  <div class="left_nav" >
    <div class="xdh">
      <%= render :partial => "menus/balance_menu" %>
    </div>
    <div class="h10" ></div>
  </div>
</div>

<div class="w178 menu_item" id="authorize_menu">
  <div class="bt1 f14b white">权限管理</div>
  <div class="left_nav" >
    <div class="xdh">
      <%= render :partial => "menus/authorize_menu" %>
    </div>
    <div class="h10" ></div>
  </div>
</div>

<div class="w178 menu_item" id="locker_menu">
  <div class="bt1 f14b white">储物柜管理</div>
  <div class="left_nav" >
    <div class="xdh">
      <%= render :partial => "menus/locker_menu" %>
    </div>
    <div class="h10" ></div>
  </div>
</div>


<div class="w178 menu_item" id="system_menu">
  <div class="bt1 f14b white">系统管理</div>
  <div class="left_nav" >
    <div class="xdh">
      <%= render :partial => "menus/system_menu" %>
    </div>
    <div class="h10" ></div>
  </div>
</div>
<%= display_current_menu %>
