<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title><%= current_catena.name || "博德维网球" %>管理系统</title>
    <%= javascript_include_tag 'jquery','jquery.ui.core','jquery-ui-1.8.2.custom.min','jquery.ui.datepicker','rails','jquery-ui-datepicker-zh-CN'%>
    <%#= javascript_include_tag 'jquery','jquery.ui.core','jquery-ui-1.8.2.custom.min','jquery.ui.datepicker','rails','jquery-ui-datepicker-zh-CN'%>
    <%= javascript_include_tag "jquery.colorbox-min.js"   %>
    <%= javascript_include_tag "autocomplete-rails.js","jquery.popupWindow.js"   %>
    <%= yield :head_content%>
    <script type="text/javascript">
      $(document).ready(function() {
          $('#datepicker').datepicker({
onSelect: function(dateText, inst) {
$("#calendar_con").val(dateText);
var domain = document.domain;
var port = window.location.port
var urls = ["http://",domain];
if(port && port != ''){
urls.push(":" + port)
}
if(window.location.pathname.match(/rents/))
{ 
  urls.push("/rents?date=" + dateText)
}
else{
  urls.push("/book_records?date=" + dateText)
}

window.location.href=urls.join('');
},
dateFormat: 'yy-mm-dd',
changeMonth: true,
changeYear: true
});
          $('#datepicker').datepicker('setDate','<%= ftime_date(@date) %>')
          });

function highlight_table(){
  $(".table_items").filter(':even').css("background-color", "#EFFFC8");
  $('.table_items').mouseover(function(){
      $(this).css('background-color','#E78F08');
      });
  $('.table_items').mouseout(function(){
      $(this).css('background-color','#ffffff');
      $(".table_items").filter(':even').css("background-color", "#EFFFC8");
      });

}
$(document).ready(function(){
    highlight_table();
    $(".balance_detail").colorbox({width:"900", height:"400", iframe:false});
    });


$(document).ready(function(){
    $('#arrow_holder').toggle(function(){
      $('.left').animate({"left": "-180px"});
      $('.right').animate({"margin-left":"20px"});
      $(this).find('img').attr('src','/images/arrow_right.gif');
      },function(){
      $('.left').animate({"left": "0px"});
      $('.right').animate({"margin-left": "200px"});
      $(this).find('img').attr('src','/images/arrow_right.gif');
      });
    });

if(typeof(String.prototype.trim) === "undefined")
{
  String.prototype.trim = function() 
  {
    return String(this).replace(/^\s+|\s+$/g, '');
  };
}




</script>
<%= stylesheet_link_tag 'main', 'jquery-ui-1.8.2.custom','colorbox' %>
<style type="text/css">
  /* div .w1{height: 80px;}
  div .w2{height: 80px;} */
</style>
</head>
<body>
  <div class="top">
    <div class="top_logo white fmic30"><%= current_catena.name || "博德维网球" %>管理系统</div>
    <div class="top_user">
      <strong>登录用户:</strong> <%=current_user.user_name ||  current_user.login || current_user.email%>
      [ <%= link_to "退出",user_session_path(current_user),:method =>:delete,:class => "cyellow"%> ]
      <!--   [<%= select_tag "catena",options_for_select(current_user.catenas.collect{|c| [c.name,c.id]}),:onchange => "javascript:change_catena($(this).val());return;"%>] -->
    </div>
  </div>
  <div class="clear"></div>
  <div class="dh"  >
    <%= render :partial => "layouts/header_menu" %>
  </div>
  <div class="clear"></div>
  <div class="left">
    <div class="h10"></div>
    <div class="bt_time">
      <div id="linkweb"></div>
      <div id="arrow_holder">
        <img src='/images/arrow_left.gif' />
      </div>
    </div>
    <div class="w178" id="datepicker">
    </div>
    <div class="h10"></div>
    <%= render :partial => "layouts/menu" %>
  </div>
  <div class="right">
    <div class="right_ddd"><img src="/images/new/r_ddd_yj.jpg" alt="" /></div>
    <%= yield %>
    <div class="foot">Broadwell Club Mangement System  博德维球馆管理系统 <%= link_to "www.broadwell.cn","www.broadwell.cn"%></div>
  </div>
</body>
</html>
