<%= form_for(@member,:html  => {:id => 'member_form'}) do |f| %>
 <%= error_messages_for :member %>
  <div class="fformbox_nr">
    <ul>
      <li>
        <div class="w1">会员名称：</div>
        <div class="w2">
          <input type="hidden" name="member[is_member]" value=1 />
          <input type="hidden" name="member_id" value="" />
          <%= f.text_field :name %> <span style='color:red;'> * </span>
        </div>
        <div class="w1">注册日期：</div>
        <div class="w2">
          <%= DateUtil::timeshort(Time.now) %>
        </div>
      </li>
    </ul>
    <ul>
      <li>

        <div class="w1">会员昵称：</div>
        <div class="w2">
          <%= f.text_field :nickname %>
        </div>
        <div class="w1">性别：</div>
        <div class="w2">
          <%= f.radio_button :gender,CommonResource::Gender_Man %>男
          <%= f.radio_button :gender,CommonResource::Gender_Woman %>女
        </div>
      </li>
    </ul>

    <ul>
      <li>
        <div class="w1">移动电话：</div>
        <div class="w2">
          <%= f.text_field :mobile %><span style='color:red;'> * </span>
        </div>
        <div class="w1">固定电话：</div>
        <div class="w2">
          <%= f.text_field :telephone %>
        </div>
      </li>
    </ul>

    <ul>
      <li>
        <div class="w1">会员生日：</div>
        <div class="w2">
          <%= f.text_field :birthday %>
        </div>
        <div class="w1">电子邮箱：</div>
        <div class="w2">
          <%= f.text_field :email %>
        </div>
      </li>
    </ul>

    <ul>
      <li>
        <div class="w1">证件类型：</div>
        <div class="w2">
          <select name="member[cert_type]" id="cert_type" class="select">
            <%= generate_cert_type_options(@member)  %>
          </select>
        </div>
        <div class="w1">证件号码：</div>
        <div class="w2">
          <%= f.text_field :cert_num %>
        </div>
      </li>

    </ul>
    <ul>
      <li>
        <div class="w1">备用电话：</div>
        <div class="w2">
          <%= f.text_field :standby_phone %>
        </div>
        <div class="w1">介绍人：</div>
        <div class="w2">
          <%= f.text_field :mentor %>
        </div>
      </li>
    </ul>
    <ul style="height:60px;">
      <li>
        <div class="w1">联系地址：</div>
        <div class="ww2">
          <textarea name="member[address]" cols="45" rows="2"><%= @member.address %></textarea>
        </div>
      </li>
    </ul>
    <ul style="height:60px;">
      <li>
        <div class="w1">备注：</div>
        <div class="ww2">
          <textarea name="member[description]" cols="45" rows="2"><%= @member.description %></textarea>
        </div>
      </li>
    </ul>
  </div>
<%end%>
<script type="text/javascript">
  $(function() {
    $("#member_birthday").datepicker({dateFormat: 'yy-mm-dd',changeYear:true,changeMonth:true,yearRange:'c-80:c+5'});
  });
  function fsubmit(){
    var form = $("form[0]");
    form.submit();
  }
</script>
