= form_for @member do |f|
  .fform
    .fformbox
      = render :partial => "layouts/errors", :locals => {:target => @member}
    .fformbox_nr
      - if params[:members_card_id]
        %ul
          %li
            .w1 会员类型：
            .w2
              授权人
              = f.hidden_field :granter

          %li
            .w1 会员卡号：
            .w2 
              = MembersCard.find(params[:members_card_id]).card_serial_num
              = f.hidden_field :members_card_id
      %ul
        %li
          .w1 会员名称：
          .w2
            = f.text_field :name
            %span{:style => "color:red;"} *
          .w1 注册日期：
          .w2
            = chinese_date(Time.now)
      %ul
        %li
          .w1 会员昵称：
          .w2
            = f.text_field :nickname
          .w1 性别：
          .w2
            = f.radio_button :gender, CommonResource::Gender_Man
            男
            = f.radio_button :gender, CommonResource::Gender_Woman
            女
      %ul
        %li
          .w1 移动电话：
          .w2
            = f.text_field :mobile
            %span{:style => "color:red;"} *
          .w1 固定电话：
          .w2
            = f.text_field :telephone
      %ul
        %li
          .w1 会员生日：
          .w2
            = f.text_field :birthday
          .w1 电子邮箱：
          .w2
            = f.text_field :email
      %ul
        %li
          .w1 证件类型：
          .w2
            %select#cert_type.select{:name => "member[cert_type]"}
              = generate_cert_type_options(@member)
          .w1 证件号码：
          .w2
            = f.text_field :cert_num
      %ul
        %li
          .w1 备用电话：
          .w2
            = f.text_field :standby_phone
          .w1 介绍人：
          .w2
            = f.text_field :mentor
      %ul{:style => "height:60px;"}
        %li
          .w1 联系地址：
          .w2
            = f.text_area :address, :cols => "45", :rows => 2

      %ul{:style => "height:60px;"}
        %li
          .w1 备注：
          .w2
            = f.text_area :description, :cols => "45", :rows => 2


      .input_bd
        %button.submit1.hand{:type => "submit"}> 提交
        = link_to "返回", cards_path, :class => "button_link"
      .clear
