<%if @member.id.blank?%>
  <% path = "/members/create"%>
<%else%>
  <% path = "/members/#{@member.id}"%>
<%end%>

<%= form_for :member, :url =>path, :html => {:id=>"granter_form",:class => "form-profile", :method => @member.id.blank? ? :post : :put} do |f| %>
  <div class="item">
    <%= error_messages_for :member %>
    <fieldset class="hidden_240h">
      <legend>属性信息</legend>
      <p>
        <label for="name"><em>*</em>名<a class="blank_element_20"></a>称：</label>
        <input type="hidden" name="member[is_member]" value=0 />
        <input type="hidden" name="member_id" value="<%=@member_base.id%>" />
        <input type="hidden" name="member_card_id" value="<%=@member_card_id%>" />
        <input type="text" name="member[name]" maxlength="24" value="<%= @member.name %>" onblur="return;" id="name" class="inputtext" />
        <a class="blank_element_20"></a>

        <label for="gender"><em>*</em>性<a class="blank_element_20"></a>别：</label>
        <%= radio_button_tag("member[gender]",CommonResource::Gender_Man, true)%>男
        <%= radio_button_tag("member[gender]",CommonResource::Gender_Woman, @member.gender == CommonResource::Gender_Woman)%>女

      </p>

      <p><label for="cert_type"><em>*</em>证件类型：</label>
        <select name="member[cert_type]" id="cert_type" class="select">
          <%= generate_cert_type_options(@member)  %>
        </select>
        <a class="blank_element_68"></a>
        <label for="cert_num"><em>*</em>证件号码：</label>
        <input type="text" name="member[cert_num]" maxlength="20" value="<%= @member.cert_num %>" onblur="return;" id="cert_num" class="inputtext" />
      </p>

      <p>
        <label for="mobile"><em>*</em>手<a class="blank_element_20"></a>机：</label>
        <input type="text" name="member[mobile]" maxlength="20" value="<%= @member.mobile %>" onblur="return;" id="mobile" class="inputtext" />
      </p>

      <p>
        <label for="description"><a class="blank_element_6"></a>备<a class="blank_element_20"></a>注：</label>
        <textarea name="member[description]" cols="47" rows="3" id="description"><%= @member.description %></textarea>
      </p></fieldset>
  </div>



  <div class="btn t_center">
    <a href="javascript:void(0);" onclick="fsubmit();return false;" >提交 </a>
  </div>
<% end %>

<script type="text/javascript">
  function fsubmit(){
    $("#colorbox").hide();
    $("#cboxOverlay").hide();
    var form = $("#granter_form");
    form.submit();
  }
</script>