<% path = @member.id.blank? ? "/members/create" : "/members/#{@member.id}"%>
<%= form_for :member, :url =>path, :html => {:id=>"granter_form", :method => @member.id.blank? ? :post : :put} do |f| %>
  <%= error_messages_for :member %>
  <div class="fformbox_nr">
    <ul>
      <li>
        <div class="w1">名称：</div>
        <div class="w2">
          <input type="hidden" name="member[is_member]" value=0 />
          <input type="hidden" name="member_id" value="<%=@member_base.id%>" />
          <input type="hidden" name="member_card_id" value="<%=@member_card_id%>" />
          <input type="text" name="member[name]" value="<%= @member.name %>" />
        </div>
        <div class="w1">性别：</div>
        <div class="w2">
          <%= radio_button_tag("member[gender]",CommonResource::Gender_Man, true)%>男
          <%= radio_button_tag("member[gender]",CommonResource::Gender_Woman, @member.gender == CommonResource::Gender_Woman)%>女
        </div>
      </li>
    </ul>
    <ul>
      <li>

        <div class="w1">会员昵称：</div>
        <div class="w2">
          <%= f.text_field :nickname %>
        </div>
        <div class="w1">性别：</div>
        <div class="w2">
          <%= f.radio_button :gender,CommonResource::Gender_Man %>男
          <%= f.radio_button :gender,CommonResource::Gender_Woman %>女
        </div>
      </li>
    </ul>

    <ul>
      <li>
        <div class="w1">证件类型：</div>
        <div class="w2">
          <select name="member[cert_type]" id="cert_type" class="select">
            <%= generate_cert_type_options(@member)  %>
          </select>
        </div>
        <div class="w1">证件号码：</div>
        <div class="w2">
          <input type="text" name="member[cert_num]" value="<%= @member.cert_num %>" id="cert_num" />
        </div>
      </li>
    </ul>

    <ul>
      <li>
        <div class="w1">手机号：</div>
        <div class="w2">
          <input type="text" name="member[mobile]" value="<%= @member.mobile %>" id="mobile" />
        </div>
        <div class="w1">电子邮箱：</div>
        <div class="w2">
          <%= f.text_field :email %>
        </div>
      </li>
    </ul>

    <ul>
      <li>
        <div class="w1">证件类型：</div>
        <div class="w2">
          <select name="member[cert_type]" id="cert_type" class="select">
            <%= generate_cert_type_options(@member)  %>
          </select>
        </div>
        <div class="w1">证件号码：</div>
        <div class="w2">
          <%= f.text_field :cert_num %>
        </div>
      </li>

    </ul>
    <ul>
      <li>
        <div class="w1">联系地址：</div>
        <div class="w2">
          <%= f.text_field :address %>
        </div>
      </li>
    </ul>
    <ul style="height:80px;">
      <li>
        <div class="w1">备注：</div>
        <div class="ww2">
          <textarea name="member[description]" cols="45" rows="4"><%= @member.description %></textarea>
        </div>
      </li>
    </ul>
  </div>
<%end%>
<script type="text/javascript">
  function fsubmit(){
    $("#colorbox").hide();
    $("#cboxOverlay").hide();
    var form = $("#granter_form");
    form.submit();
  }
</script>