<div class="w96">
  <div class=" r_bt" >
    <div class=" r_bt_l" >
      <div class=" r_bt_l_a" ></div>
      <div class=" r_bt_l_c fb white" >会员查询</div>
    </div>

    <div class=" r_bt_r" ></div>
  </div>
  <div class="soso">
    <form method="get" action="/members/advanced_search" class="form-profile" id="search_form">
      <div class="w95">
        会员名称：
        <label>
          <input type="text" autocomplete="/members/autocomplete_name" id="name" name="name" value="<%= params[:name] %>"/>
        </label>
        &nbsp;&nbsp;&nbsp;&nbsp;
        会员卡号：
        <label>
          <input type="text" name="card_serial_num" tabindex="1" autocomplete="/members/autocomplete_card_serial_num" value="<%= params[:card_serial_num] %>"/>
        </label>
        &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" name="search" id="search_member" class="inputsubmit" value="查询"  tabindex="10" />
        <%= render :partial => "members/advance_search" %>
      </div>
    </form>
  </div>
  <div class="h10"></div>
  <div class=" r_bt" >
    <div class=" r_bt_l" >
      <div class=" r_bt_l_a" ></div>
      <div class=" r_bt_l_c fb white" >会员列表</div>
    </div>
    <div class=" r_bt_r" ></div>
  </div>
  <div class=" table">
    <ul class="bttitle black fb " >
      <li class="w5">编号</li>
      <li class="w10">会员名称</li>
      <li class="w15">会员卡信息</li>
      <li class="w10">移动电话</li>
      <li class="w8">注册日期</li>
      <li class="w6">现有金额</li>
      <li class="w6">现有次数</li>
      <li class="w6">消费金额</li>
      <li class="w6">消费次数</li>
      <li class="w8">会员生日</li>
      <li class="w12">操作</li>
    </ul>
    <% @members.each_with_index do |member,index| -%>
      <ul class="member_items table_items">
        <li class="w5"><%= index + 1 %></li>
        <li class="w10"><%= link_to member.name,member %></li>
        <li class="w15" style='overflow:hidden;' title="<%= raw member.card_serial_nums %>"><%= raw member.card_serial_nums %></li>
        <li class="w10"><%= member.mobile %></li>
        <li class="w8"><%= member.created_at.nil? ? "" : DateUtil::timeshort(member.created_at) %></li>
        <li class="w6"><%= member.member_card_left_fees %></li>
        <li class="w6"><%= member.member_card_left_times %></li>
        <li class="w6"><%= member.member_consume_amounts %></li>
        <li class="w6"><%= member.use_card_times%></li>
        <li class="w8">
          <%= member.birthday.blank? ? ':' : DateUtil::timeshort(member.birthday) %>
        </li>
        <li class="w12">
          <%= link_to '查看', member %> |
          <%= link_to '修改', edit_member_path(member)%> |
          <%= link_to '删除', member, :confirm => '确定删除吗?', :method => :delete %>
        </li>
      </ul>
    <%end -%>
  </div>
  <div class="h10"></div>
  <div class="pages">
    <%= will_paginate @members, :sp => 1%>
  </div>
  <div class="h10"></div>
</div>

<script type="text/javascript">
  $(function() {
    $("#reg_date_start").datepicker({dateFormat: 'yy-mm-dd',changeYear:true,changeMonth:true});
    $("#reg_date_end").datepicker({dateFormat: 'yy-mm-dd',changeYear:true,changeMonth:true});
    $("#expire_date_start").datepicker({dateFormat: 'yy-mm-dd',changeYear:true,changeMonth:true});
    $("#expire_date_end").datepicker({dateFormat: 'yy-mm-dd',"changeYear":true,"changeMonth":true});
    $(".birthday_input").datepicker({dateFormat: 'mm-dd',changeMonth:true});
  });
  $(function() {
    $("#comer_date_start").datepicker({dateFormat: 'yy-mm-dd',"changeYear":true,"changeMonth":true});
    $("#comer_date_end").datepicker({dateFormat: 'yy-mm-dd',"changeYear":true,"changeMonth":true});
  });
  $(".member_card_bind_index").colorbox({width:"80%", height:"99%", iframe:false});
  $(".member_card_index").colorbox({width:"80%", height:"99%", iframe:false});

 </script>
