<h1>会员查询</h1>
<form method="get" action="/members" class="form-profile" id="search_form">
<fieldset class="hidden">  
    <input type="hidden" name="sp" id ="sp" value="<%=@sp%>"/>
    <label for="name">会员姓名：</label>
    <input type="text"class="inputtext" autocomplete="/members/autocomplete_name" id="name" name="name" value="<%= params[:name] %>"/>
    <label for="card_id">会员卡号：</label>
    <input type="text" name="card_serial_num" tabindex="1" autocomplete="/members/autocomplete_card_serial_num" value="<%= params[:card_serial_num] %>" class="inputtext"/>
    <label ><a href="#" onclick="javascript:adv_search()">高级查询</a></label>
    <label ><a href="#" onclick="javascript:q_search()">快速查询</a></label>
    <input type="submit" name="search" id="search_member" class="inputsubmit" value="查询"  tabindex="10" />
    <div id="adv_search" style="display: none;">
      <label for="card_id">注册日期：</label>
      <input type="text" name="reg_date_start" value="<%=params[:reg_date_start]%>" onblur="return;" id="reg_date_start" class="inputtext" />
      - <input type="text" name="reg_date_end" value="<%=params[:reg_date_end]%>" onblur="return;" id="reg_date_end" class="inputtext" />
      <label for="card_id">到期时间：</label>
      <input type="text" name="expire_date_start" value="<%=params[:expire_date_start]%>" onblur="return;" id="expire_date_start" class="inputtext" />
      - <input type="text" name="expire_date_end" value="<%=params[:expire_date_end]%>" onblur="return;" id="expire_date_end" class="inputtext" />            
      <br/>
      <label for="name">来店日期：</label>
      <input type="text" name="comer_date_start" value="<%=params[:comer_date_start]%>" onblur="return;" id="comer_date_start" class="inputtext" />
      - <input type="text" name="comer_date_end" value="<%=params[:comer_date_end]%>" onblur="return;" id="comer_date_end" class="inputtext" />
      <label for="card_id">刷卡次数：</label>
      <input type="text" name="consume_count_start" tabindex="1" value="<%=params[:consume_count_start]%>" class="inputtext"/>
      - <input type="text" name="consume_count_end" tabindex="1" value="<%=params[:consume_count_end]%>" class="inputtext"/>
      <br/>
      <label for="card_id">消费总金额：</label>
      <input type="text" name="consume_fees_start" value="<%=params[:consume_fees_start]%>" onblur="return;" id="search_date_start" class="inputtext" />
      - <input type="text" name="consume_fees_end" value="<%=params[:consume_fees_end]%>" onblur="return;" id="search_date_end" class="inputtext" />
      <label for="card_id">卡内余额：</label>
      <input type="text" name="left_fees_start" value="<%=params[:left_fees_start]%>" onblur="return;" id="search_date_start" class="inputtext" />
      - <input type="text" name="left_fees_end" value="<%=params[:left_fees_end]%>" onblur="return;" id="search_date_end" class="inputtext" />
      <br/>
      <label for="card_id">现有次数：</label>
      <input type="text" name="left_times_start" value="<%=params[:left_times_start]%>" onblur="return;" id="search_date_start" class="inputtext" />
      - <input type="text" name="left_times_end" value="<%=params[:left_times_end]%>" onblur="return;" id="search_date_end" class="inputtext" />
      <label for="card_id">会员生日：</label>
      <input type="text" name="member_birthday_start" value="<%=params[:member_birthday_start]%>" onblur="return;" id="search_date_start" class="inputtext" />
      - <input type="text" name="member_birthday_end" value="<%=params[:member_birthday_end]%>" onblur="return;" id="search_date_end" class="inputtext" />
      <br/>
      <label for="card_id">会员性别：</label>
        <%gender = params[:member_gender]%>
      <%= radio_button_tag("member_gender","", ( gender.to_i == "")?true:false)%>全部
        <%= radio_button_tag("member_gender",CommonResource::Gender_Man, ( gender.to_i == CommonResource::Gender_Man)?true:false)%>男
        <%= radio_button_tag("member_gender",CommonResource::Gender_Woman, (gender.to_i == CommonResource::Gender_Woman)?true:false)%>女
    </div>
  
</fieldset>
<br />

<%if !@notice.blank?%><p class="notice"><%= @notice %></p><%end%>
<%if @members.size != 0 %>
<h1>会员列表</h1>
<fieldset class="table">
  <ul class="title_ul">
    <li style="width:10%;">会员名称</li>
    <li>性别</li>
    <li style="width:20%;">会员卡信息</li>
    <li style="width:10%;">移动电话</li>
    <li style="width:8%;">注册日期</li>
    <li >现有金额</li>
    <li >现有次数</li>
    <li >消费金额</li>
    <li style="width:8%;">会员生日</li>
    <li style="width:12%;">操作</li>
  </ul>
  <% for member in @members %>
    <ul>
        <li style="width:10%;"><%= link_to member.name,member %></li>
        <li><%= gender_desc(member.gender) %></li>
        <li style="width:20%;"><%= member.card_serial_nums %></li>
        <li style="width:10%;"><%= member.mobile %></li>
        <li style="width:8%;"><%= member.created_at.nil? ? "" : DateUtil::timeshort(member.created_at) %></li>
        <li><%= member.member_card_left_fees %></li>
        <li><%= member.member_card_left_times %></li>
        <li><%= member.member_consume_amounts %></li>
        <li style="width:8%;"><%= DateUtil::timeshort(member.birthday) %></li>
        <li style="width:12%;"><%= link_to '查看', member %> | <%= link_to '修改', edit_member_path(member)%> | <%= link_to '删除', member, :confirm => '确定删除吗?', :method => :delete %>
        </li>      
    </ul>
  <%end %>
</fieldset>
  <%= will_paginate @members, :sp => 1%>
<%end%>
</form>

<script type="text/javascript">
  $(function() {
    $("#reg_date_start").datepicker({dateFormat: 'yy-mm-dd'});
    $("#reg_date_end").datepicker({dateFormat: 'yy-mm-dd'});
    $("#expire_date_start").datepicker({dateFormat: 'yy-mm-dd'});
    $("#expire_date_end").datepicker({dateFormat: 'yy-mm-dd'});
  });
  $(function() {
    $("#comer_date_start").datepicker({dateFormat: 'yy-mm-dd'});
    $("#comer_date_end").datepicker({dateFormat: 'yy-mm-dd'});
  });
  $(".member_card_bind_index").colorbox({width:"80%", height:"99%", iframe:false});
  $(".member_card_index").colorbox({width:"80%", height:"99%", iframe:false});

  function adv_search(){
    $("#sp")[0].value = 1;
    $("#adv_search").show();
  }
  function q_search(){
    $("#sp")[0].value = 0;
    $("#adv_search").hide();
  }
  window.onload = function(){
    if($("#sp")[0].value == 1){
      adv_search();
    }else if($("#sp")[0].value == 0){
      q_search()
    }
  }
</script>