
<%if @notice%><p class="notice"><%= @notice %></p><%end%>
<h1>会员卡绑定信息列表</h1>

  <div>
    <fieldset class="table" >
      <legend>可用卡信息</legend>
      <ul class="title_ul">
        <input type="hidden" name="member_id" value="<%=@member.id%>" />
        <li style="text-align:center;width:260px;">卡名称</li>
        <li>卡类型</li>
        <li>绑定卡</li>
      </ul>
      <%for card in @cards%>
        <ul>
          <li style="text-align:center;width:260px;"><span style="width:100px;right:20px;"><%= card.name%></span><a class="blank_element_6"></a></li>
          <li>
            <span style="width:100px;right:20px;"><%= card.card_type_desc%></span>
          </li>
          <li>
            <input id="card_available_<%= card.id %>" name="card_available" onclick="changeCardType(this);" type="radio" value="<%= card.id %>-<%=card.card_type_opt%>-<%=card.name%>" />
          </li>
        </ul>
      <%end%>
    </fieldset>

  </div>
  <div class="btn t_center">
    <a href="javascript:void(0);" onclick="commit();return false;" >确定 </a>
  </div>

<script type="text/javascript">
  function commit(){
    <%#*var form = $("form[0]");%>
    <%#*form.submit();%>
      $("#colorbox").hide();
      $("#cboxOverlay").hide();
      <%#*$("#card_granter").show();%>
  }

  function changeCardType(radio){
    var card_id = radio.value.split("-")[0];
    $("#binded_card_id")[0].value = card_id;
    var card_type = radio.value.split("-")[1];
    $("#binded_card_type")[0].value = card_type;

    if(card_type == '充次：'){
      $("#card_type_desc")[0].innerHTML = "卡内次数（次）";
      $("#card_type_name")[0].name = "member_card[left_times]";
    }else{
      $("#card_type_desc")[0].innerHTML = "卡内金额（￥）";
    }
    //if(card_type == 1){
    //  $("#card_type_desc")[0].innerHTML = "卡内次数（次）";
    //  $("#card_type_name")[0].name = "member_card[left_times]";
    //}else{//储值卡
    //  $("#card_type_desc")[0].innerHTML = "卡内金额（￥）";
    //}

    $.getJSON("/members/getMemberCardNo",
    {'type':'json', 'card_id':card_id},
    function(data){
      $("#card_serial_num").attr("value", data);
      //$("#card_serial_num_temp")[0].innerHTML = data;
      $(".notice").hide();
      $(".notice_error").hide();
    });
    $("#card_name")[0].innerHTML = radio.value.split("-")[2];

  }
</script>