.form-horizontal
  = form_header(:title => "会员详细资料", :link => "members_path")
  
  - show_helper(:name, "会员名称", :left) do
    = @member.name
  
  - show_helper(:created_at, "注册日期", :right) do
    = @member.created_at.to_chinese_ymd
  
  - show_helper(:nickname, "会员昵称", :left) do
    = @member.nickname.blank? ?  "未知" : @member.nickname
  
  - show_helper(:gender, "会员性别", :right) do
    = @member.gender_desc
  
  
  - show_helper(:mobile, "移动电话", :left) do
    = @member.mobile
  
  
  - show_helper(:mobile, "固定电话", :right) do
    = @member.telephone.blank? ? '无' : @member.telephone
  
  
  - show_helper(:email, "电子邮箱", :left) do
    = @member.email.blank? ? '无' : @member.email
  
  - show_helper(:standby_phone, "备用电话", :right) do
    = @member.standby_phone.blank? ? '无' : @member.standby_phone
  
  - show_helper(:cert_type, "证件类型", :left) do
    = Setting.cert_type_detail_name(@member.cert_type)
  
  - show_helper(:cert_num, "证件号码", :right) do
    = @member.cert_num
  
  - show_helper(:address, "联系地址", :right) do
    = @member.address.blank? ? '无' : @member.address
  
  
  - show_helper(:mentor, "介绍人", :right) do
    = @member.mentor.blank? ? '无' : @member.mentor
  
  
  - show_helper(:birthday, "会员生日", :right) do
    = @member.birthday.blank? ? "未知" : @member.birthday.to_chinese_mdh
  
  - show_helper(:description, "备注", :right) do
    = @member.description
  
  = form_header(:title => "会员 #{@member.name}信息统计", :link => "members_path")
  - show_helper(:balance_times, "刷卡次数", :left) do
    = @member.balance_times
  
  - show_helper(:latest_comer_date, "最近来店", :right) do
    = @member.latest_comer_date.blank? ? '无' : @member.latest_comer_date
  
  - show_helper(:member_consume_amounts, "消费总金额", :left) do
    = @member.member_consume_amounts
  
  
  - show_helper(:member_card_left_fees, "卡内余额", :left) do
    = @member.member_card_left_fees
  
  - show_helper(:recharge_fees, "总充值金额", :left) do
    = @member.recharge_fees
  
  
  - show_helper(:recharge_times, "总充值次数", :left) do
    = @member.recharge_times
    次
  
  - show_helper(:use_card_price_amount, "卡付金额", :left) do
    = @member.use_card_price_amount
    元
  
  - show_helper(:use_card_amount, "卡付小时数", :left) do
    = @member.use_card_amount
    次
  
  - show_helper(:use_cash_amount, "现金支付", :left) do
    = @member.use_cash_amount
  
  
  - show_helper(:member_card_left_times, "卡内小时数", :left) do
    = @member.member_card_left_times

= table_header(:title => " 会员 #{@member.name} 的卡列表 ", :link => "")
- columns = {:card_serial_num => "卡号", :state_desc => "卡状态", :left_fee => "卡内余额",
  :left_times=> "卡内次数", "expire_date" => "卡有效期" }
- collection = @members_cards
=render :partial => "layouts/table", :locals => { :collection => collection, :columns => columns, :no_operation => true}


= table_header(:title => " 会员 #{@member.name} 的充值记录列表 ", :link => "")
- columns = {"card_serial_num" => "卡号", :display_recharge_info => " 充值金额(￥)/次数 ",
  "created_at" => "充值日期",:recharge_person_name => "操作人"}
- collection = @recharge_records
=render :partial => "layouts/table", :locals => { :collection => collection, :columns => columns, :no_operation => true}


= table_header(:title => " 会员 #{@member.name} 的消费记录列表 ", :link => "")
- columns = {"created_at" => "时间", :balance_real_amount_desc => "消费金额", "balance_way_desc" => "支付方式"}
- collection = @balances
=render :partial => "layouts/table", :locals => { :collection => collection, :columns => columns , :no_operation => true}
