<div class="w96">
  <div class=" r_bt">
    <div class=" r_bt_l">
      <div class=" r_bt_l_a"></div>
      <div class=" r_bt_l_c fb white">会员详细资料</div>
    </div>
    <div class=" r_bt_r"></div>
  </div>
  <div class="info">
    <div class="infobox">
      <div class="infobox_bt"><p>会员 <%= @member.name %> 的基本资料</p></div>
      <div class="infobox_nr">
        <ul>
          <li>
          <div class="w1">会员名称：</div>
          <div class="w2">
            <%= @member.name %>
          </div>
          <div class="w1">注册日期：</div>
          <div class="w2">
            <%= DateUtil::timeshort(@member.created_at) %>
          </div>
          </li>
        </ul>
        <ul>
          <li>
          <div class="w1">会员昵称：</div>
          <div class="w2">
            <%= @member.nickname %>
          </div>
          <div class="w1">会员性别：</div>
          <div class="w2">
            <%= gender_desc(@member.gender) %>
          </div>
          </li>
        </ul>
        <ul>
          <li>
          <div class="w1">移动电话：</div>
          <div class="w2">
            <%= @member.mobile %>
          </div>
          <div class="w1">固定电话：</div>
          <div class="w2">
            <%= @member.telephone.blank? ? '无' : @member.telephone%>
          </div>
          </li>

        </ul>
        <ul>
          <li>
          <div class="w1">工作：</div>
          <div class="w2">
            <%= @member.job.blank? ? '无' : @member.jon %>
          </div>
          <div class="w1">邮箱：</div>
          <div class="w2">
            <%= @member.email.blank? ? '无' : @member.email%>
          </div>
          </li>
        </ul>
        <ul>
          <li>
          <div class="w1">证件类型：</div>
          <div class="w2">
            <%= generate_cert_type_str(@member.cert_type) %>
            <%if generate_cert_type_str(@member.cert_type).blank?%>
              <a class="blank_element"></a>
            <%end%>
          </div>
          <div class="w1">证件号码：</div>
          <div class="w2">
            <%if !generate_cert_type_str(@member.cert_type).blank?%>
              <%= @member.cert_num%>
            <%end%>
          </div>
          </li>
        </ul>
        <ul>
          <li>
          <div class="w1">联系地址：</div>
          <div class="w2">
            <%= @member.address.blank? ? '无' : @member.address %>
          </div>
          <div class="w1">介绍人：</div>
          <div class="w2">
            <%= @member.mentor.blank? ? '无' : @member.mentor %>
          </div>
          </li>
        </ul>
        <ul>
          <li>
          <div class="w1">备注：</div>
          <div class="ww2"><%= @member.memo %></div>
          </li>
        </ul>
      </div>
    </div>
    <div class="h10"></div>
    <div class="infobox">
      <div class="infobox_bt"><p>会员 <%= @member.name %>信息统计</p></div>
      <div class="infobox_nr">
        <ul>
          <li>
          <div class="w1">刷卡次数：</div>
          <div class="w2">
            <%= @member.use_card_times%>
          </div>
          <div class="w1">最近来店：</div>
          <div class="w2">
            <%= @member.latest_comer_date.blank? ? '无' : @member.latest_comer_date %>
          </div>
          </li>
        </ul>
        <ul>
          <li>
          <div class="w1">消费总金额：</div>
          <div class="w2">
            <%= @member.member_consume_amounts %>
          </div>
          <div class="w1">卡内余额：</div>
          <div class="w2">
            <%= @member.member_card_left_fees %>
          </div>
          </li>
        </ul>
        <ul>
          <li>
          <div class="w1">总充值金额：</div>
          <div class="w2">
            <%=@member.recharge_fees%>
          </div>
          <div class="w1">总充值次数：</div>
          <div class="w2">
            <%=@member.recharge_times%>次
          </div>

          </li>
        </ul>
        <ul>
          <li>
          <div class="w1">卡付金额：</div>
          <div class="w2">
          </div>
          <div class="w1">卡付次数：</div>
          <div class="w2">
            <%=@member.use_card_times%>次
          </div>

          </li>
        </ul>

        <ul>
          <li>
          <div class="w1">现金支付：</div>
          <div class="w2">
          </div>

          <div class="w1">卡内次数：</div>
          <div class="w2">
            <%= @member.member_card_left_times%>
          </div>

          </li>
        </ul>
      </div>
    </div>
    <div class="h10"></div>
    <div class="infobox">
      <div class="infobox_bt"><p>会员 <%= @member.name %> 的卡列表</p></div>

      <div class=" table2">
        <ul class="bttitle black fb ">
          <li class="w5">序号</li>
          <li class="w10">卡号</li>
          <li class="w10">卡状态</li>
          <li class="w15">卡内余额</li>
          <li class="w10">卡内次数</li>
          <li class="w10">卡有效期</li>
          <li class="w15">授权人</li>
        </ul>
        <% @member_cards.each_with_index do |card,index|  %>
          <ul class="table_items">
            <input type="hidden" id="member_id" value="<%= @member.id%>" />
            <li class="w5"><%= index + 1 %></li>
            <li class="w10"><%= card.card_serial_num %></li>
            <li class="w10"><%= member_card_status_str(card.status) %></li>
            <li class="w15"><%= card.left_fee %></li>
            <li class="w10"><%= card.left_times %></li>
            <li class="w10"><%= DateUtil.timeshort(card.expire_date) %></li>
            <li class="w15">
            <% for granter in generate_granter_options(@member) %>
              <%if @member.is_granter(granter[1], card.id)%>
                <%=granter[0]%>
              <%end%>
            <%end%>
            </li>
          </ul>
        <%end%>
      </div>
    </div>
    <div class="h10"></div>
    <div class="infobox">
      <div class="infobox_bt"><p>会员 <%= @member.name %> 的充值记录列表</p></div>
      <div class=" table2">
        <ul class="bttitle black fb ">
          <li class="w5">序号</li>
          <li class="w15">卡号</li>
          <li class="w15">充值金额(￥)/次数</li>
          <li class="w15">充值日期</li>
        </ul>
        <%@recharge_records.each_with_index  do |recharge_record,index|%>
          <ul class="table_items">
            <li class="w5"><%=  index + 1%></li>
            <li class="w15"><%=recharge_record.member_card.card_serial_num%></li>
            <li class="w15"><%= recharge_record.display_recharge_info %></li>
            <li class="w15"><%= DateUtil::timeshort(recharge_record.created_at) %></li>
          </ul>
        <%end%>
      </div>
    </div>
    <div class="h10"></div>
    <div class="infobox">
      <div class="infobox_bt"><p>会员 <%= @member.name %> 的消费记录列表</p></div>
      <div class="table2">
        <ul class="bttitle black fb ">
          <li class="w5">序号</li>
          <li class="w15">时间</li>
          <li class="w15">消费金额(次)</li>
          <li class="w10">场地支付方式</li>
          <li class="w10">商品支付方式</li>
          <li class="w10">操作</li>
        </ul>
        <%@balances.each_with_index do |balance,index| -%>
          <ul class="table_items">
            <li class="w5"><%= index + 1 %></li>
            <li class="w15"><%= balance.created_at.to_s(:db) %></li>
            <li class="w15"><%= balance.balance_amount_desc %></li>
            <li class="w10"><%= balance.balance_way_desc %></li>
            <li class="w10"><%= balance.goods_balance_type_desc %></li>
            <li class="w10"><a href="<%= order_balance_path(balance) %>?layout=false" title="点击展开明细" class="balance_detail">明细</a></li>
          </ul>
        <%end -%>
      </div>
    </div>
    <div class="h10"></div>
    <div class="input_bd"><button class="submit1 hand" tabindex="100" name="loginsubmit" type="submit" value="true">修改</button>&nbsp;&nbsp;&nbsp;&nbsp;<button class="submit3 hand" tabindex="100" name="loginsubmit" type="submit" value="true">返回</button></div>
    <div class=" clear"></div>
  </div>
  <div class="h10"></div>
</div>
