<%if @p !='mc'%>
<label align="right">
  <%= link_to '创建新会员', new_member_path %>
  <br />
</label>
<%end%>
<br />
<h1 class="title">会员详细资料</h1>
<%if notice%><p class="notice"><%= notice %></p><%end%>
<div class="listcontent_w clearfix cleft">
  <ul class="clearfix">
    <fieldset class="hidden">
      <legend>属性信息</legend>
      <li class="cleft">
        <div class="w1">会员名称：</div>
        <div class="w2">
          <%= @member.name %><%if @member.name.blank?%><a class="blank_element"></a><%end%>
        </div>
        <div class="w1">注册日期：</div>
        <div class="w2">
          <%= DateUtil::timeshort(@member.created_at) %>
        </div>
      </li>
      <li class="cleft">
        <div class="w1">会员昵称：</div>
        <div class="w2">
          <%= @member.nickname %><%if @member.nickname.blank?%><a class="blank_element"></a><%end%>
        </div>
        <div class="w1">会员性别：</div>
        <div class="w2">
          <%= gender_desc(@member.gender) %>
        </div>
      </li>
      <li class="cleft">
        <div class="w1">移动电话：</div>
        <div class="w2">
          <%= @member.mobile %><%if @member.mobile.blank?%><a class="blank_element"></a><%end%>
        </div>
        <div class="w1">固定电话：</div>
        <div class="w2">
          <%= @member.telephone%>
        </div>
      </li>
      <li class="cleft">
        <div class="w1">工作：</div>
        <div class="w2">
          <%= @member.job%><%if @member.job.blank?%><a class="blank_element"></a><%end%>
        </div>
        <div class="w1">邮箱：</div>
        <div class="w2">
          <%= @member.email%>
        </div>
      </li>
      <li class="cleft">
        <div class="w1">证件类型：</div>
        <div class="w2">
          <%= generate_cert_type_str(@member.cert_type) %>
            <%if generate_cert_type_str(@member.cert_type).blank?%>
              <a class="blank_element"></a>
            <%end%>
        </div>
        <div class="w1">证件号码：</div>
        <div class="w2">
           <%if !generate_cert_type_str(@member.cert_type).blank?%>
             <%= @member.cert_num%>
            <%end%>
        </div>
      </li>
      <li class="cleft">
        <div class="w1">联系地址：</div>
        <div class="w2">
          <%= @member.address %><%if @member.address.blank?%><a class="blank_element"></a><%end%>
        </div>
        <div class="w1">介绍人：</div>
        <div class="w2">
          <%= @member.mentor %>
        </div>
      </li>
      <li class="cleft">
        <div class="w1">备注：</div>
        <div class="w2">
          <%= @member.memo %>
        </div>
      </li>
    </fieldset>
  </ul>
</div>
<div class="listcontent_w clearfix cleft">
  <ul class="clearfix">
    <fieldset class="hidden">
      <legend>其他信息</legend>
      <li class="cleft">
        <div class="w1">刷卡次数：</div>
        <div class="w2">
          <a class="blank_element"></a>
        </div>
        <div class="w1">最近来店日期：</div>
        <div class="w2">
          <%= @member.latest_comer_date %>
        </div>
      </li>
      <li class="cleft">
        <div class="w1">消费总金额：</div>
        <div class="w2">
          <%= @member.member_consume_amounts %><%if @member.member_consume_amounts.blank?%><a class="blank_element"></a><%end%>
        </div>
        <div class="w1">卡内余额：</div>
        <div class="w2">
          <%= @member.member_card_left_fees %>
        </div>
      </li>
      <li class="cleft">
        <div class="w1">卡付金额：</div>
        <div class="w2">
          <a class="blank_element"></a>
        </div>
        <div class="w1">现金支付：</div>
        <div class="w2">          
        </div>
      </li>
      <li class="cleft">
        <div class="w1">总充值金额：</div>
        <div class="w2">
          <%=@member.recharge_fees%>
        </div>
        <div class="w1">卡内次数：</div>
        <div class="w2">
          <%= @member.member_card_left_times%>
        </div>
      </li>
      <li class="cleft">
        <div class="w1">卡付次数：</div>
        <div class="w2">
          <a class="blank_element"></a>
        </div>
        <div class="w1">总充值次数（次）：</div>
        <div class="w2">
          <%=@member.recharge_times%>
        </div>
      </li>
    </fieldset>
  </ul>
</div>
<%= render :partial => "member_card_list"%>
<%= render :partial => "recharge_list"%>
<%= render :partial => "consume_list"%>

<div class="btn t_center">
    <a href="/members/<%=@member.id %>/edit">修改</a> |
    <a href="/members" >返回</a>
  </div>